---
title: "Mode Share"
date: today
---

In [119]:
import pandas as pd
import numpy as np
import toml
from pathlib import Path
from sqlalchemy import create_engine

config = toml.load(Path.cwd() / '../../../../configuration/input_configuration.toml')
summary_config = toml.load(Path.cwd() / '../../../../configuration/summary_configuration.toml')

pd.set_option('display.float_format', '{:,.1%}'.format)

In [120]:
# Relative path between notebooks and goruped output directories
output_path = Path(summary_config['sc_run_path']) / summary_config["output_folder"]
survey_path = Path(summary_config['sc_run_path']) / summary_config["survey_folder"]

In [121]:
# add trip type to trip tables
def prep_trip_df(trip):
    df_trip = trip.copy()
    df_trip.rename(columns={'mode':'Mode'}, inplace=True)
    df_trip['Trip Type'] = 'Non-Work'
    df_trip.loc[df_trip['dpurp'] == 'Work', 'Trip Type'] = 'Work'

    # add all tripa
    df = df_trip.copy()
    df['Trip Type'] = 'All Trips'
    df_trip = pd.concat([df_trip.sort_values('Trip Type'), df], ignore_index=True)

    return df_trip

In [122]:
person = pd.read_csv(output_path / 'agg/dash/person_geog.csv')

# counties
trip_county = prep_trip_df(pd.read_csv(output_path / 'agg/dash/mode_share_county.csv'))
# remove "Outside Region"
trip_county = trip_county[trip_county['hh_county'] != 'Outside Region']
# regional geographies
trip_rg = prep_trip_df(pd.read_csv(output_path / 'agg/dash/mode_share_rg.csv'))
# centers
trip_rgc = pd.read_csv(output_path / 'agg/dash/mode_share_rgc.csv')
# add all RGCs
df = trip_rgc[trip_rgc['hh_rgc'] != 'Not in RGC'].groupby(['dpurp','mode']).sum()[['trexpfac']].reset_index()
df['hh_rgc'] = 'All RGCs'
trip_rgc = pd.concat([df, trip_rgc])
trip_rgc = prep_trip_df(trip_rgc)

In [123]:
# equity geographies
equity_geogs = summary_config['equity_geogs']
trip_equity_geog = pd.DataFrame()
for geog in equity_geogs:
    df = prep_trip_df(pd.read_csv(output_path/ ('agg/dash/mode_share_'+geog+'.csv')))
    df['equity_geog'] = df[geog].map({1:geog,
                                      0:"NOT in "+ geog})
    
    trip_equity_geog = pd.concat([trip_equity_geog, df[['dpurp', 'Mode', 'equity_geog', 'trexpfac', 'Trip Type']]])

## regional mode share

In [124]:
df1 = trip_county.groupby(['Trip Type','Mode'],as_index=False)['trexpfac'].sum()
df2 = trip_county.groupby(['Trip Type'],as_index=False)['trexpfac'].sum()
df2.rename(columns={'trexpfac':'total_trips'}, inplace=True)

df = df1.merge(df2, on='Trip Type')
df['mode_share'] = df['trexpfac'] / df['total_trips']

df.pivot_table(columns='Mode', index='Trip Type', values='mode_share')

Mode       Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
Trip Type
All Trips  1.5% 21.3%  14.1% 44.5%        1.6% 0.3%     2.2% 14.4%
Non-Work   1.5% 23.1%  15.4% 40.4%        1.8% 0.3%     2.2% 15.3%
Work       1.4%  9.4%   5.8% 71.6%        0.0% 0.6%     2.3%  8.9%

## trip mode share by home location

:::{.panel-tabset}

### County

In [125]:
def calc_mode_share(df_trip, geog):
    
    # num trips by mode
    df1 = df_trip.groupby([geog, 'Trip Type', 'Mode'],as_index=False)['trexpfac'].sum()
    # num trips
    df2 = df_trip.groupby([geog, 'Trip Type'],as_index=False)['trexpfac'].sum()
    df2.rename(columns={'trexpfac':'total_trips'}, inplace=True)

    df = df1.merge(df2, on=[geog, 'Trip Type'])
    # mode share
    df['mode_share'] = df['trexpfac'] / df['total_trips']

    # mode share by trip type
    df_all = df.loc[df['Trip Type']=="All Trips"].pivot_table(columns='Mode', index=geog, values='mode_share')
    df_work = df.loc[df['Trip Type']=="Work"].pivot_table(columns='Mode', index=geog, values='mode_share')
    df_non_work = df.loc[df['Trip Type']=="Non-Work"].pivot_table(columns='Mode', index=geog, values='mode_share')
    # num trips by trip type
    trip_all = df.loc[df['Trip Type']=="All Trips"].pivot_table(columns='Mode', index=geog, values='trexpfac')
    trip_work = df.loc[df['Trip Type']=="Work"].pivot_table(columns='Mode', index=geog, values='trexpfac')
    trip_non_work = df.loc[df['Trip Type']=="Non-Work"].pivot_table(columns='Mode', index=geog, values='trexpfac')

    return df_all, df_work, df_non_work, trip_all, trip_work, trip_non_work


df_all, df_work, df_non_work, trip_all, trip_work, trip_non_work = calc_mode_share(trip_county,'hh_county')

:::{.panel-tabset}

#### All Purposes

In [126]:
df_all

Mode       Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
hh_county
King       1.7% 20.2%  13.2% 43.4%        1.5% 0.4%     3.3% 16.4%
Kitsap     1.2% 22.2%  14.3% 45.3%        1.5% 0.2%     1.3% 14.1%
Pierce     1.4% 23.1%  15.5% 45.1%        1.9% 0.2%     0.8% 12.1%
Snohomish  1.3% 22.4%  15.2% 46.9%        1.7% 0.2%     0.8% 11.4%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [127]:
trip_all.style.format("{:0,.0f}")

:::

#### Non-Work Purposes

In [128]:
df_non_work

Mode       Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
hh_county
King       1.6% 22.0%  14.4% 39.3%        1.7% 0.3%     3.3% 17.3%
Kitsap     1.3% 23.9%  15.4% 41.7%        1.6% 0.2%     0.9% 15.0%
Pierce     1.4% 24.8%  16.8% 40.9%        2.1% 0.2%     0.7% 13.0%
Snohomish  1.3% 24.3%  16.5% 42.5%        1.9% 0.2%     0.9% 12.4%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [129]:
trip_non_work.style.format("{:0,.0f}")

:::

#### Work

In [130]:
df_work

Mode       Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
hh_county
King       1.7%  9.1%   5.6% 68.5%        0.0% 0.8%     2.9% 11.5%
Kitsap     1.0%  9.4%   5.9% 72.6%        0.0% 0.2%     4.1%  7.0%
Pierce     1.1%  9.9%   6.2% 76.1%        0.0% 0.3%     1.2%  5.3%
Snohomish  1.0% 10.0%   6.3% 77.0%        0.0% 0.3%     0.7%  4.9%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [131]:
trip_work.style.format("{:0,.0f}")

:::

:::

### Regional Growth Center

:::{.panel-tabset}

#### All Purposes

In [132]:
df_all, df_work, df_non_work, trip_all, trip_work, trip_non_work  = calc_mode_share(trip_rgc, 'hh_rgc')

df_all

Mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
hh_rgc,,,,,,,,
All RGCs,3.0%,10.7%,5.2%,29.2%,0.5%,1.5%,6.5%,43.3%
Auburn,2.3%,19.4%,10.0%,38.4%,1.1%,0.4%,3.7%,24.7%
Bellevue,2.6%,11.4%,4.9%,31.8%,0.5%,0.8%,3.4%,44.5%
Bothell Canyon Park,1.2%,19.4%,10.6%,52.5%,1.4%,0.3%,0.8%,13.6%
Bremerton,2.5%,14.7%,7.2%,35.5%,0.4%,0.6%,2.3%,36.9%
Burien,2.0%,17.9%,9.2%,43.8%,0.7%,0.5%,3.1%,22.9%
Everett,1.9%,13.2%,6.9%,39.1%,0.7%,0.5%,2.1%,35.7%
Federal Way,2.5%,21.2%,15.0%,35.8%,1.8%,0.1%,1.5%,22.1%
Greater Downtown Kirkland,1.9%,17.3%,8.3%,47.1%,0.8%,0.5%,3.7%,20.4%
Kent,2.1%,18.3%,12.2%,36.7%,1.5%,0.6%,4.3%,24.2%
Kirkland Totem Lake,1.9%,18.7%,10.3%,49.6%,1.0%,0.3%,1.8%,16.3%
Lakewood,2.2%,21.6%,9.8%,37.3%,1.7%,0.6%,1.1%,25.7%
Lynnwood,1.8%,18.8%,11.3%,43.7%,1.4%,0.5%,2.1%,20.4%
Not in RGC,1.4%,22.1%,14.8%,45.7%,1.7%,0.2%,1.9%,12.3%
Puyallup Downtown,1.8%,18.1%,10.0%,39.8%,0.9%,0.5%,2.0%,27.1%
Puyallup South Hill,1.5%,18.7%,10.7%,44.6%,1.5%,0.5%,1.6%,20.8%
Redmond Downtown,2.3%,15.0%,8.3%,44.1%,0.8%,0.4%,1.8%,27.3%
Redmond-Overlake,2.5%,15.4%,9.1%,41.1%,1.0%,0.4%,2.2%,28.3%
Renton,2.5%,17.1%,7.9%,45.8%,0.8%,0.4%,3.3%,22.3%
SeaTac,2.1%,19.7%,13.3%,39.9%,1.7%,0.2%,6.3%,16.7%
Seattle Downtown,3.2%,5.0%,1.7%,12.5%,0.1%,3.0%,7.1%,67.3%
Seattle First Hill/Capitol Hill,3.6%,6.1%,2.3%,18.7%,0.2%,2.6%,9.6%,56.9%
Seattle Northgate,2.2%,15.2%,7.2%,40.9%,0.6%,0.5%,10.7%,22.6%
Seattle South Lake Union,3.6%,6.5%,2.1%,20.9%,0.1%,2.3%,6.8%,57.8%
Seattle University Community,5.1%,8.1%,3.9%,30.1%,0.2%,0.8%,16.4%,35.4%
Seattle Uptown,4.2%,8.9%,3.1%,28.9%,0.2%,1.2%,6.7%,46.8%
Silverdale,1.9%,14.5%,7.8%,44.0%,1.4%,0.4%,0.7%,29.3%
Tacoma Downtown,2.5%,12.7%,5.9%,36.0%,0.5%,0.7%,3.2%,38.6%
Tacoma Mall,2.8%,17.7%,9.9%,37.7%,1.7%,0.9%,2.4%,26.9%
Tukwila,2.2%,13.4%,5.4%,52.5%,NaN,0.5%,2.6%,23.3%
University Place,1.9%,19.5%,10.5%,46.1%,1.7%,0.4%,1.2%,18.7%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [133]:
trip_all.style.format("{:0,.0f}")

:::

#### Non-Work Purposes

In [134]:
df_non_work

Mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
hh_rgc,,,,,,,,
All RGCs,3.0%,11.8%,5.8%,26.2%,0.6%,1.3%,6.9%,44.4%
Auburn,2.3%,20.6%,10.6%,35.3%,1.2%,0.4%,3.2%,26.4%
Bellevue,2.5%,12.5%,5.4%,28.3%,0.5%,0.7%,3.8%,46.2%
Bothell Canyon Park,1.2%,21.2%,11.6%,47.8%,1.7%,0.4%,0.8%,15.4%
Bremerton,2.4%,15.8%,7.7%,32.0%,0.4%,0.6%,1.6%,39.5%
Burien,1.9%,19.1%,9.9%,38.9%,0.9%,0.4%,3.2%,25.6%
Everett,1.8%,14.2%,7.5%,34.7%,0.8%,0.5%,2.2%,38.2%
Federal Way,2.5%,22.2%,16.0%,32.4%,2.1%,0.1%,1.7%,23.1%
Greater Downtown Kirkland,1.9%,18.8%,9.0%,42.8%,0.9%,0.5%,3.8%,22.4%
Kent,2.0%,19.4%,13.1%,32.8%,1.7%,0.7%,4.2%,26.0%
Kirkland Totem Lake,2.0%,20.5%,11.4%,45.1%,1.2%,0.3%,1.9%,17.8%
Lakewood,2.2%,23.3%,10.6%,32.9%,1.9%,0.6%,1.1%,27.4%
Lynnwood,1.8%,20.4%,12.3%,39.4%,1.6%,0.6%,2.2%,21.8%
Not in RGC,1.4%,23.9%,16.0%,41.4%,1.9%,0.2%,1.8%,13.2%
Puyallup Downtown,1.7%,19.3%,10.7%,35.9%,1.0%,0.5%,1.8%,29.0%
Puyallup South Hill,1.5%,20.2%,11.7%,40.3%,1.8%,0.6%,1.3%,22.6%
Redmond Downtown,2.2%,16.6%,9.2%,38.9%,0.9%,0.4%,1.9%,29.8%
Redmond-Overlake,2.4%,16.8%,9.9%,36.3%,1.2%,0.4%,2.4%,30.6%
Renton,2.4%,18.7%,8.6%,41.5%,0.9%,0.4%,3.7%,23.9%
SeaTac,2.0%,21.2%,14.4%,36.2%,2.0%,0.2%,6.4%,17.6%
Seattle Downtown,3.2%,5.5%,1.9%,10.9%,0.1%,2.5%,8.2%,67.6%
Seattle First Hill/Capitol Hill,3.6%,6.6%,2.5%,16.3%,0.3%,2.1%,10.4%,58.1%
Seattle Northgate,2.1%,16.7%,7.8%,37.1%,0.7%,0.5%,10.4%,24.7%
Seattle South Lake Union,3.5%,7.3%,2.3%,18.6%,0.1%,1.9%,7.6%,58.7%
Seattle University Community,5.1%,8.5%,4.1%,25.6%,0.3%,0.6%,17.0%,38.8%
Seattle Uptown,4.0%,9.8%,3.5%,25.5%,0.2%,1.0%,7.3%,48.6%
Silverdale,1.8%,15.7%,8.5%,40.1%,1.6%,0.4%,0.6%,31.3%
Tacoma Downtown,2.4%,13.6%,6.3%,32.3%,0.6%,0.7%,3.2%,40.8%
Tacoma Mall,2.6%,18.9%,10.7%,33.7%,1.9%,1.0%,2.2%,28.9%
Tukwila,2.1%,15.2%,5.8%,47.0%,NaN,0.5%,2.6%,26.8%
University Place,1.9%,21.1%,11.4%,41.8%,2.0%,0.4%,1.2%,20.4%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [135]:
trip_non_work.style.format("{:0,.0f}")

:::

#### Work

In [136]:
df_work

Mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
hh_rgc,,,,,,,,
All RGCs,3.3%,5.4%,2.4%,43.4%,NaN,2.7%,4.6%,38.2%
Auburn,2.8%,10.4%,5.2%,62.0%,NaN,0.5%,7.3%,11.8%
Bellevue,3.1%,5.7%,2.4%,49.6%,NaN,1.5%,1.7%,35.9%
Bothell Canyon Park,1.2%,9.5%,5.2%,78.8%,NaN,0.2%,1.2%,3.8%
Bremerton,3.1%,6.6%,4.0%,59.1%,NaN,0.7%,7.2%,19.3%
Burien,2.2%,10.8%,5.4%,72.0%,NaN,0.8%,2.1%,6.7%
Everett,2.1%,6.9%,2.9%,67.1%,NaN,0.5%,1.1%,19.4%
Federal Way,2.3%,13.1%,6.9%,64.1%,NaN,NaN,0.4%,13.1%
Greater Downtown Kirkland,2.1%,8.8%,3.9%,72.3%,NaN,0.6%,3.3%,9.1%
Kent,3.0%,10.3%,5.8%,64.6%,NaN,0.2%,4.7%,11.5%
Kirkland Totem Lake,1.9%,8.6%,4.4%,76.0%,NaN,0.4%,1.2%,7.5%
Lakewood,2.7%,9.0%,3.5%,70.6%,NaN,0.4%,0.8%,12.9%
Lynnwood,1.5%,9.3%,5.6%,70.4%,NaN,0.3%,1.1%,11.8%
Not in RGC,1.2%,9.8%,6.2%,74.4%,0.0%,0.3%,2.0%,6.0%
Puyallup Downtown,1.8%,8.1%,4.1%,70.7%,NaN,0.5%,3.2%,11.7%
Puyallup South Hill,1.2%,9.7%,4.9%,71.5%,NaN,0.3%,3.3%,9.1%
Redmond Downtown,2.8%,6.8%,3.9%,70.4%,NaN,0.7%,1.2%,14.2%
Redmond-Overlake,3.0%,8.5%,5.0%,65.1%,NaN,0.5%,1.3%,16.5%
Renton,2.9%,7.5%,3.8%,71.5%,NaN,0.6%,1.1%,12.6%
SeaTac,2.4%,9.2%,6.3%,65.7%,NaN,0.3%,5.5%,10.6%
Seattle Downtown,3.0%,3.1%,1.0%,18.9%,NaN,5.1%,3.0%,65.9%
Seattle First Hill/Capitol Hill,3.7%,3.9%,1.4%,28.6%,NaN,4.4%,6.2%,51.8%
Seattle Northgate,2.7%,7.5%,3.7%,61.6%,NaN,0.7%,12.1%,11.6%
Seattle South Lake Union,3.9%,3.4%,1.4%,29.7%,NaN,3.9%,3.5%,54.4%
Seattle University Community,4.6%,5.9%,2.8%,53.9%,NaN,1.5%,13.6%,17.7%
Seattle Uptown,4.8%,4.9%,1.7%,43.2%,NaN,2.1%,4.1%,39.3%
Silverdale,2.8%,7.4%,3.3%,67.9%,NaN,0.1%,1.3%,17.2%
Tacoma Downtown,2.9%,6.5%,3.0%,59.7%,NaN,0.8%,2.7%,24.5%
Tacoma Mall,3.8%,9.1%,4.3%,66.2%,NaN,0.6%,3.9%,12.1%
Tukwila,2.8%,6.3%,3.8%,74.3%,NaN,0.4%,3.0%,9.3%
University Place,2.1%,8.7%,4.5%,75.2%,NaN,0.5%,1.4%,7.5%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [137]:
trip_work.style.format("{:0,.0f}")

:::

:::

### Regional Geography

:::{.panel-tabset}

#### All Purposes

In [138]:
df_all, df_work, df_non_work, trip_all, trip_work, trip_non_work  = calc_mode_share(trip_rg, 'hh_rg_proposed')

df_all

Mode            Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
hh_rg_proposed
CitiesTowns     1.2% 22.7%  16.5% 45.1%        2.1% 0.2%     0.6% 11.7%
Core            1.4% 22.2%  14.8% 45.7%        1.7% 0.2%     1.8% 12.1%
HCT             1.3% 22.6%  15.3% 46.2%        1.8% 0.2%     1.4% 11.3%
Metro           2.1% 17.7%  10.7% 40.2%        1.2% 0.6%     4.4% 23.2%
UU              1.2% 24.2%  17.8% 44.8%        2.1% 0.2%     0.5%  9.3%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [139]:
trip_all.style.format("{:0,.0f}")

:::

#### Non-Work Purposes

In [140]:
df_non_work

Mode            Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
hh_rg_proposed
CitiesTowns     1.2% 24.5%  17.9% 40.6%        2.4% 0.2%     0.5% 12.7%
Core            1.4% 24.0%  16.1% 41.4%        2.0% 0.2%     1.8% 13.1%
HCT             1.3% 24.4%  16.6% 41.9%        2.1% 0.2%     1.3% 12.2%
Metro           2.0% 19.4%  11.7% 36.2%        1.4% 0.5%     4.5% 24.4%
UU              1.3% 26.0%  19.2% 40.5%        2.4% 0.1%     0.4% 10.0%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [141]:
trip_non_work.style.format("{:0,.0f}")

:::

#### Work

In [142]:
df_work

Mode            Bike  HOV2  HOV3+   SOV  School Bus  TNC  Transit  Walk
hh_rg_proposed
CitiesTowns     0.6% 10.4%   6.9% 76.2%        0.0% 0.2%     0.9%  4.9%
Core            1.2% 10.0%   6.3% 74.4%        0.0% 0.3%     1.9%  5.8%
HCT             1.0% 10.0%   6.4% 75.8%        0.0% 0.3%     1.6%  5.0%
Metro           2.3%  8.2%   4.6% 63.5%        0.0% 1.1%     3.7% 16.5%
UU              0.7% 10.3%   6.7% 77.5%         NaN 0.2%     0.9%  3.7%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [143]:
trip_work.style.format("{:0,.0f}")

:::

:::

### Equity Focus Area

In [144]:
equity_geogs = summary_config['equity_geogs']

trip_equity_geog = pd.DataFrame()

for geog in equity_geogs:
    df = prep_trip_df(pd.read_csv(output_path/ ('agg/dash/mode_share_'+geog+'.csv')))
    df['equity_geog'] = df[geog].map({1:geog,
                                      0:"NOT in "+ geog})
    
    trip_equity_geog = pd.concat([trip_equity_geog, df[['dpurp', 'Mode', 'equity_geog', 'trexpfac', 'Trip Type']]])

df_all, df_work, df_non_work, trip_all, trip_work, trip_non_work  = calc_mode_share(trip_equity_geog, 'equity_geog')

:::{.panel-tabset}

#### All Purposes

In [145]:
df_all

Mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
equity_geog,,,,,,,,
NOT in hh_disability_reg,1.5%,21.4%,14.5%,44.9%,1.7%,0.3%,2.2%,13.6%
NOT in hh_elderly_reg,1.6%,20.8%,14.3%,43.5%,1.7%,0.3%,2.3%,15.4%
NOT in hh_english_reg,1.5%,21.1%,13.7%,44.7%,1.5%,0.3%,2.1%,15.0%
NOT in hh_poverty_50,1.5%,21.4%,14.1%,44.7%,1.6%,0.3%,2.1%,14.3%
NOT in hh_poverty_reg,1.4%,21.5%,14.3%,45.6%,1.6%,0.3%,1.9%,13.4%
NOT in hh_racial_50,1.4%,21.4%,14.0%,45.5%,1.6%,0.3%,1.9%,13.9%
NOT in hh_racial_reg,1.4%,21.5%,13.9%,46.0%,1.5%,0.3%,1.9%,13.5%
NOT in hh_youth_reg,1.7%,19.7%,12.0%,43.7%,1.2%,0.5%,3.1%,18.1%
hh_disability_reg,1.5%,21.3%,13.6%,44.1%,1.5%,0.4%,2.1%,15.5%
hh_elderly_reg,1.3%,21.9%,13.9%,45.7%,1.5%,0.3%,2.0%,13.4%
hh_english_reg,1.5%,21.7%,14.7%,44.3%,1.7%,0.3%,2.3%,13.5%
hh_poverty_50,2.4%,19.0%,12.8%,35.0%,1.4%,0.5%,6.1%,22.7%
hh_poverty_reg,1.7%,21.1%,13.8%,42.8%,1.6%,0.4%,2.6%,16.1%
hh_racial_50,1.7%,21.1%,14.4%,42.5%,1.7%,0.4%,2.7%,15.6%
hh_racial_reg,1.6%,21.2%,14.3%,42.8%,1.7%,0.4%,2.5%,15.5%
hh_youth_reg,1.3%,23.0%,16.3%,45.3%,2.0%,0.2%,1.3%,10.6%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [146]:
trip_all.style.format("{:0,.0f}")

:::

#### Non-Work Purposes

In [147]:
df_non_work

Mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
equity_geog,,,,,,,,
NOT in hh_disability_reg,1.5%,23.2%,15.9%,40.6%,2.0%,0.2%,2.2%,14.4%
NOT in hh_elderly_reg,1.7%,22.7%,15.7%,39.1%,2.0%,0.3%,2.3%,16.3%
NOT in hh_english_reg,1.5%,22.9%,15.0%,40.7%,1.8%,0.3%,2.0%,15.9%
NOT in hh_poverty_50,1.5%,23.2%,15.4%,40.6%,1.9%,0.3%,2.1%,15.1%
NOT in hh_poverty_reg,1.4%,23.4%,15.6%,41.4%,1.9%,0.3%,1.9%,14.1%
NOT in hh_racial_50,1.4%,23.2%,15.2%,41.4%,1.8%,0.3%,1.9%,14.8%
NOT in hh_racial_reg,1.4%,23.3%,15.2%,41.9%,1.8%,0.2%,1.8%,14.4%
NOT in hh_youth_reg,1.7%,21.5%,13.1%,39.8%,1.4%,0.4%,3.1%,19.0%
hh_disability_reg,1.5%,23.0%,14.7%,40.1%,1.7%,0.3%,2.1%,16.4%
hh_elderly_reg,1.4%,23.7%,15.1%,41.8%,1.7%,0.3%,2.0%,14.2%
hh_english_reg,1.5%,23.5%,16.0%,40.0%,2.0%,0.3%,2.3%,14.4%
hh_poverty_50,2.4%,20.4%,13.8%,31.3%,1.6%,0.5%,6.2%,23.7%
hh_poverty_reg,1.7%,22.8%,15.0%,38.8%,1.8%,0.3%,2.6%,17.0%
hh_racial_50,1.7%,22.9%,15.7%,38.3%,1.9%,0.3%,2.8%,16.4%
hh_racial_reg,1.6%,23.0%,15.6%,38.7%,1.9%,0.3%,2.6%,16.3%
hh_youth_reg,1.3%,24.8%,17.6%,41.0%,2.3%,0.2%,1.2%,11.5%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [148]:
trip_non_work.style.format("{:0,.0f}")

:::

#### Work

In [149]:
df_work

Mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
equity_geog,,,,,,,,
NOT in hh_disability_reg,1.4%,9.4%,5.8%,72.0%,0.0%,0.5%,2.4%,8.5%
NOT in hh_elderly_reg,1.6%,9.4%,5.8%,70.7%,0.0%,0.6%,2.3%,9.6%
NOT in hh_english_reg,1.4%,9.2%,5.6%,71.3%,0.0%,0.6%,2.5%,9.4%
NOT in hh_poverty_50,1.4%,9.4%,5.8%,71.8%,0.0%,0.6%,2.2%,8.8%
NOT in hh_poverty_reg,1.3%,9.4%,5.8%,72.5%,0.0%,0.5%,2.1%,8.4%
NOT in hh_racial_50,1.3%,9.4%,5.8%,72.8%,0.0%,0.5%,2.3%,7.9%
NOT in hh_racial_reg,1.3%,9.4%,5.8%,73.4%,0.0%,0.4%,2.3%,7.3%
NOT in hh_youth_reg,1.8%,8.8%,5.1%,68.2%,0.0%,0.8%,3.0%,12.3%
hh_disability_reg,1.4%,9.4%,5.8%,71.2%,0.0%,0.6%,2.1%,9.4%
hh_elderly_reg,1.2%,9.5%,5.9%,72.9%,0.0%,0.5%,2.2%,7.9%
hh_english_reg,1.4%,9.8%,6.2%,72.2%,0.0%,0.5%,2.0%,8.0%
hh_poverty_50,2.5%,8.5%,4.9%,62.7%,NaN,0.9%,5.2%,15.2%
hh_poverty_reg,1.6%,9.4%,5.8%,70.3%,0.0%,0.6%,2.5%,9.7%
hh_racial_50,1.6%,9.4%,6.0%,69.2%,0.0%,0.7%,2.3%,10.8%
hh_racial_reg,1.6%,9.4%,5.9%,69.7%,0.0%,0.7%,2.2%,10.6%
hh_youth_reg,0.9%,10.1%,6.6%,75.7%,0.0%,0.3%,1.4%,5.0%

::: {.callout-note icon=false collapse=true}

## number of trips by mode

In [150]:
trip_work.style.format("{:0,.0f}")

:::

:::

:::

## mode share by trip destination

::: {.callout-note}

### TODO: add other geographies

- create output for mode share by trip/tour destination geographies and purpose in agg.py

:::

In [151]:
tour_rgc_dest = pd.read_csv(output_path / 'agg/dash/tour_rgc_dest.csv')
trip_rgc_dest = pd.read_csv(output_path / 'agg/dash/trip_rgc_dest.csv')

# order RGCs

# all individual centers
l = tour_rgc_dest['tour_d_rgc'].sort_values().unique().tolist()
l.remove('Not in RGC')
l.remove(np.nan)

# aggregated centers
geog_order = ["Region","In RGC","Not in RGC"]

# combine
geog_order.extend(l)

In [152]:
def get_rgc_location(df, dest_col):
    # regional data
    df_region = df.copy()
    df_region[dest_col] = "Region"

    # aggregated centers
    df_isrgc = df.copy()
    df_isrgc.loc[df_isrgc[dest_col]!="Not in RGC", dest_col] = "In RGC"


    df_rgc = pd.concat([
        df_region,
        df_isrgc,
    # 2025 notes:
    # 7 records in the data are missing both mode and and RGC values
    # remove these records
        df.loc[~df[dest_col].isna()]
        ])

    df_rgc[dest_col] = pd.Categorical(df_rgc[dest_col], ordered=True,
                    categories=geog_order)
    
    return df_rgc

df_tour = get_rgc_location(tour_rgc_dest, 'tour_d_rgc')
df_trip = get_rgc_location(trip_rgc_dest, 'trip_d_rgc')

:::{.panel-tabset}

### RGC

In [153]:
def calc_mode_share_by_rgc(df_trip_geog, geog_col, mode_col, n_trip_col):

    df = df_trip_geog.pivot_table(columns=mode_col, index=geog_col, values=n_trip_col, aggfunc='sum', observed=True)

    df = df.apply(lambda x: x/ df_trip_geog.groupby(geog_col, observed=True)[n_trip_col].sum())

    return df

\[TRIP\] Mode Share for All Purposes by Regional Center (Destination Location)

In [154]:
calc_mode_share_by_rgc(df_trip, 'trip_d_rgc', 'mode', 'trexpfac')

mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
trip_d_rgc,,,,,,,,
Region,1.5%,21.3%,14.1%,44.5%,1.6%,0.3%,2.2%,14.4%
In RGC,1.9%,15.9%,8.9%,42.0%,0.5%,0.8%,5.6%,24.5%
Not in RGC,1.4%,22.4%,15.1%,45.0%,1.8%,0.2%,1.5%,12.5%
Auburn,1.1%,22.3%,12.5%,48.2%,0.5%,0.2%,3.2%,12.0%
Bellevue,1.7%,15.0%,8.8%,42.9%,0.4%,0.5%,2.5%,28.2%
Bothell Canyon Park,1.0%,22.3%,14.2%,54.0%,1.0%,0.2%,0.4%,6.8%
Bremerton,1.6%,15.7%,9.0%,54.4%,0.1%,0.3%,1.6%,17.3%
Burien,1.2%,22.6%,12.5%,46.4%,0.8%,0.2%,2.2%,14.1%
Everett,1.2%,19.1%,11.0%,47.3%,0.6%,0.3%,1.6%,18.9%
Federal Way,0.9%,24.7%,13.0%,48.4%,0.4%,0.2%,2.2%,10.2%
Greater Downtown Kirkland,1.3%,19.9%,11.2%,49.8%,0.8%,0.3%,2.0%,14.7%
Issaquah,0.9%,21.7%,12.4%,57.0%,0.5%,0.2%,0.5%,6.8%
Kent,1.0%,22.5%,13.8%,47.7%,0.9%,0.2%,2.9%,10.9%
Kirkland Totem Lake,1.2%,20.7%,11.7%,54.1%,0.7%,0.2%,1.3%,10.2%
Lakewood,1.0%,25.5%,13.3%,48.2%,0.3%,0.3%,0.7%,10.7%
Lynnwood,1.1%,22.6%,12.2%,52.4%,0.5%,0.3%,1.0%,10.0%
Puyallup Downtown,1.1%,23.6%,14.3%,46.9%,1.3%,0.3%,1.2%,11.4%
Puyallup South Hill,0.9%,22.9%,12.8%,52.4%,0.5%,0.2%,0.4%,10.0%
Redmond Downtown,1.4%,20.6%,13.0%,44.9%,1.2%,0.3%,1.3%,17.3%
Redmond-Overlake,1.4%,16.7%,10.0%,56.1%,0.4%,0.3%,1.5%,13.7%
Renton,1.3%,20.3%,11.8%,52.5%,0.8%,0.3%,1.7%,11.3%
SeaTac,1.5%,18.3%,11.6%,50.9%,0.8%,0.2%,4.1%,12.6%
Seattle Downtown,2.3%,9.5%,5.2%,28.6%,0.2%,1.7%,12.2%,40.3%
Seattle First Hill/Capitol Hill,2.9%,10.1%,5.3%,27.9%,0.3%,1.7%,8.7%,43.1%
Seattle Northgate,1.5%,18.0%,8.1%,46.0%,0.5%,0.4%,10.4%,15.2%
Seattle South Lake Union,2.7%,10.6%,5.3%,36.2%,0.1%,1.2%,7.4%,36.5%
Seattle University Community,3.3%,12.3%,6.9%,39.2%,0.4%,0.5%,12.7%,24.7%
Seattle Uptown,3.3%,12.0%,5.7%,35.0%,0.2%,0.9%,5.2%,37.8%
Silverdale,0.9%,23.9%,13.4%,50.4%,0.9%,0.2%,0.2%,10.0%
Tacoma Downtown,1.7%,15.9%,9.1%,47.9%,0.5%,0.4%,2.7%,22.0%
Tacoma Mall,1.7%,22.0%,11.6%,47.7%,0.7%,0.5%,1.3%,14.6%
Tukwila,0.9%,22.8%,12.3%,55.0%,0.1%,0.2%,2.5%,6.1%
University Place,1.5%,22.1%,11.9%,47.2%,1.1%,0.3%,0.8%,15.1%

\[TRIP\] Mode Share to Work by Regional Center (Destination Location)

In [155]:
df_trip_work = df_trip[df_trip['dpurp'] == 'Work'].copy()
calc_mode_share_by_rgc(df_trip_work, 'trip_d_rgc', 'mode', 'trexpfac')

mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
trip_d_rgc,,,,,,,,
Region,1.4%,9.4%,5.8%,71.6%,0.0%,0.6%,2.3%,8.9%
In RGC,1.8%,8.6%,5.4%,61.9%,0.0%,1.0%,4.9%,16.5%
Not in RGC,1.2%,9.8%,6.1%,76.7%,0.0%,0.3%,0.9%,5.0%
Auburn,1.1%,10.3%,6.9%,73.5%,NaN,0.2%,1.1%,7.0%
Bellevue,1.5%,9.1%,6.0%,64.9%,NaN,0.6%,1.8%,16.1%
Bothell Canyon Park,1.0%,10.0%,5.7%,79.3%,NaN,0.3%,0.2%,3.5%
Bremerton,1.1%,9.9%,6.3%,75.0%,NaN,0.3%,1.3%,6.1%
Burien,1.5%,9.8%,6.4%,74.2%,NaN,0.4%,1.0%,6.7%
Everett,1.3%,8.9%,5.6%,72.4%,0.0%,0.3%,0.6%,10.9%
Federal Way,1.2%,10.7%,6.2%,74.9%,NaN,0.3%,0.6%,6.1%
Greater Downtown Kirkland,1.2%,9.5%,6.3%,76.0%,NaN,0.3%,1.0%,5.8%
Issaquah,0.6%,9.7%,6.4%,78.0%,0.0%,0.3%,0.4%,4.7%
Kent,1.1%,10.3%,6.8%,72.8%,NaN,0.3%,1.5%,7.2%
Kirkland Totem Lake,1.3%,9.7%,6.1%,76.5%,NaN,0.3%,0.6%,5.6%
Lakewood,1.4%,8.2%,5.4%,76.9%,NaN,0.2%,0.5%,7.5%
Lynnwood,1.3%,9.1%,5.6%,77.0%,NaN,0.4%,0.5%,6.1%
Puyallup Downtown,0.8%,10.2%,6.3%,74.0%,NaN,0.4%,1.3%,7.1%
Puyallup South Hill,0.7%,9.5%,6.2%,76.3%,NaN,0.2%,0.4%,6.6%
Redmond Downtown,1.3%,8.8%,5.8%,72.4%,NaN,0.3%,0.6%,10.8%
Redmond-Overlake,1.2%,9.2%,6.2%,75.5%,NaN,0.4%,1.1%,6.4%
Renton,1.2%,10.0%,6.5%,74.8%,0.0%,0.4%,0.8%,6.4%
SeaTac,1.2%,9.9%,6.4%,73.6%,NaN,0.3%,2.5%,6.1%
Seattle Downtown,2.3%,7.1%,4.4%,45.0%,NaN,1.9%,11.7%,27.6%
Seattle First Hill/Capitol Hill,2.2%,8.1%,4.8%,51.1%,0.0%,1.6%,5.6%,26.6%
Seattle Northgate,1.7%,9.3%,5.0%,72.9%,NaN,0.5%,2.2%,8.4%
Seattle South Lake Union,2.6%,7.7%,4.9%,56.3%,NaN,1.3%,4.4%,22.8%
Seattle University Community,2.0%,9.5%,5.8%,68.0%,NaN,0.8%,5.1%,8.8%
Seattle Uptown,2.8%,8.2%,4.9%,57.2%,NaN,0.8%,2.9%,23.2%
Silverdale,1.1%,8.7%,5.1%,76.2%,NaN,0.2%,0.3%,8.4%
Tacoma Downtown,1.6%,9.5%,5.9%,70.0%,NaN,0.3%,1.5%,11.3%
Tacoma Mall,1.8%,9.9%,5.9%,74.9%,NaN,0.4%,0.8%,6.3%
Tukwila,1.0%,10.2%,6.4%,76.3%,0.0%,0.4%,1.3%,4.4%
University Place,1.9%,9.6%,6.1%,73.6%,NaN,0.3%,0.7%,7.7%

\[TRIP\] Mode Share for Non-work Purposes by Regional Center (Destination Location)

In [156]:
df_trip_non_work = df_trip[df_trip['dpurp'] != 'Work'].copy()
calc_mode_share_by_rgc(df_trip_non_work, 'trip_d_rgc', 'mode', 'trexpfac')

mode,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
trip_d_rgc,,,,,,,,
Region,1.5%,23.1%,15.4%,40.4%,1.8%,0.3%,2.2%,15.3%
In RGC,1.9%,18.8%,10.3%,34.4%,0.6%,0.7%,5.8%,27.5%
Not in RGC,1.5%,23.8%,16.2%,41.3%,2.0%,0.2%,1.6%,13.4%
Auburn,1.1%,24.6%,13.5%,43.4%,0.6%,0.2%,3.6%,13.0%
Bellevue,1.8%,17.9%,10.1%,32.2%,0.6%,0.4%,2.9%,34.1%
Bothell Canyon Park,1.0%,27.3%,17.7%,43.7%,1.5%,0.2%,0.5%,8.2%
Bremerton,1.9%,21.1%,11.5%,35.4%,0.2%,0.3%,1.9%,27.6%
Burien,1.1%,24.0%,13.2%,43.3%,0.9%,0.2%,2.3%,14.9%
Everett,1.2%,21.8%,12.5%,40.6%,0.7%,0.3%,1.9%,21.0%
Federal Way,0.9%,27.0%,14.1%,44.1%,0.5%,0.2%,2.4%,10.8%
Greater Downtown Kirkland,1.4%,22.4%,12.4%,43.5%,1.0%,0.3%,2.3%,16.8%
Issaquah,1.0%,25.6%,14.4%,50.2%,0.6%,0.2%,0.5%,7.5%
Kent,1.0%,25.0%,15.2%,42.6%,1.1%,0.2%,3.2%,11.7%
Kirkland Totem Lake,1.2%,23.3%,13.0%,48.7%,0.8%,0.2%,1.5%,11.3%
Lakewood,0.9%,28.8%,14.8%,42.8%,0.3%,0.4%,0.7%,11.3%
Lynnwood,1.0%,25.9%,13.8%,46.3%,0.7%,0.2%,1.1%,11.0%
Puyallup Downtown,1.1%,26.0%,15.8%,42.0%,1.5%,0.3%,1.1%,12.2%
Puyallup South Hill,0.9%,25.4%,14.1%,47.8%,0.6%,0.2%,0.3%,10.6%
Redmond Downtown,1.5%,22.7%,14.2%,40.1%,1.4%,0.2%,1.4%,18.5%
Redmond-Overlake,1.5%,21.8%,12.6%,42.7%,0.7%,0.2%,1.7%,18.8%
Renton,1.3%,24.1%,13.8%,44.4%,1.0%,0.3%,2.0%,13.2%
SeaTac,1.6%,22.7%,14.3%,39.2%,1.3%,0.2%,4.9%,15.9%
Seattle Downtown,2.3%,11.1%,5.8%,17.3%,0.3%,1.5%,12.6%,49.0%
Seattle First Hill/Capitol Hill,3.1%,10.6%,5.4%,21.7%,0.4%,1.7%,9.6%,47.5%
Seattle Northgate,1.4%,19.9%,8.8%,40.0%,0.7%,0.3%,12.2%,16.7%
Seattle South Lake Union,2.7%,12.3%,5.5%,24.9%,0.2%,1.1%,9.1%,44.3%
Seattle University Community,3.7%,13.2%,7.2%,30.6%,0.5%,0.4%,14.9%,29.5%
Seattle Uptown,3.4%,13.1%,6.0%,28.5%,0.2%,0.9%,5.9%,42.0%
Silverdale,0.9%,26.7%,14.9%,45.8%,1.1%,0.2%,0.1%,10.2%
Tacoma Downtown,1.7%,19.1%,10.7%,36.7%,0.8%,0.4%,3.3%,27.3%
Tacoma Mall,1.6%,24.9%,12.9%,41.1%,0.9%,0.5%,1.4%,16.6%
Tukwila,0.9%,27.2%,14.4%,47.6%,0.1%,0.2%,3.0%,6.7%
University Place,1.4%,23.8%,12.7%,43.6%,1.3%,0.3%,0.8%,16.1%

:::

## mode share by tour destination

:::{.panel-tabset}

### RGC

\[TOUR\] Mode Share for All Purposes by Regional Center (Destination Location)

In [157]:
calc_mode_share_by_rgc(df_tour, 'tour_d_rgc', 'tmodetp', 'toexpfac')

tmodetp,Bike,HOV2,HOV3+,Park,SOV,School Bus,TNC,Transit,Walk
tour_d_rgc,,,,,,,,,
Region,1.4%,22.1%,19.3%,0.2%,37.9%,2.6%,0.5%,3.2%,13.0%
In RGC,1.5%,18.4%,14.2%,0.5%,39.4%,0.6%,1.0%,7.9%,16.3%
Not in RGC,1.3%,23.1%,20.7%,0.1%,37.5%,3.1%,0.3%,1.9%,12.0%
Auburn,0.7%,25.1%,20.9%,0.1%,41.9%,0.3%,0.3%,2.3%,8.4%
Bellevue,1.3%,18.0%,14.4%,0.3%,42.6%,0.3%,0.7%,3.4%,19.1%
Bothell Canyon Park,0.9%,24.0%,21.6%,0.0%,45.3%,1.9%,0.3%,0.9%,5.1%
Bremerton,1.2%,21.0%,15.8%,0.3%,50.0%,0.1%,0.4%,0.8%,10.3%
Burien,0.8%,23.6%,18.2%,0.0%,40.2%,1.6%,0.3%,3.8%,11.6%
Everett,0.9%,22.8%,18.0%,0.1%,40.3%,1.0%,0.4%,2.5%,14.0%
Federal Way,0.7%,25.2%,19.3%,0.0%,42.5%,0.4%,0.2%,2.6%,9.1%
Greater Downtown Kirkland,0.9%,23.1%,17.7%,0.1%,43.5%,1.3%,0.3%,2.2%,11.0%
Issaquah,0.9%,23.9%,18.6%,0.0%,49.4%,0.8%,0.3%,0.9%,5.2%
Kent,0.7%,25.4%,21.8%,0.1%,39.5%,1.5%,0.3%,2.9%,7.7%
Kirkland Totem Lake,1.0%,22.2%,17.0%,0.1%,48.7%,0.8%,0.4%,2.1%,7.7%
Lakewood,0.8%,26.7%,19.5%,0.0%,43.0%,0.1%,0.4%,1.2%,8.4%
Lynnwood,0.9%,24.9%,18.3%,0.0%,46.1%,0.6%,0.3%,1.7%,7.1%
Puyallup Downtown,0.7%,26.3%,22.8%,0.0%,38.9%,2.7%,0.4%,1.3%,7.0%
Puyallup South Hill,0.7%,24.4%,18.7%,0.0%,47.6%,0.2%,0.3%,0.4%,7.6%
Redmond Downtown,0.9%,23.4%,20.9%,0.1%,36.8%,2.6%,0.3%,2.0%,13.1%
Redmond-Overlake,1.1%,18.9%,14.9%,0.2%,53.8%,0.3%,0.6%,1.7%,8.5%
Renton,0.9%,22.7%,19.4%,0.1%,45.7%,1.4%,0.4%,2.3%,7.0%
SeaTac,1.0%,20.5%,16.4%,0.4%,49.1%,0.4%,0.4%,3.8%,7.9%
Seattle Downtown,2.1%,11.9%,8.8%,1.5%,29.7%,0.3%,2.2%,18.6%,24.9%
Seattle First Hill/Capitol Hill,2.3%,13.7%,10.1%,0.5%,29.6%,0.6%,1.6%,11.7%,29.9%
Seattle Northgate,1.3%,20.3%,14.3%,0.1%,43.3%,1.0%,0.5%,6.8%,12.5%
Seattle South Lake Union,2.5%,13.6%,9.7%,0.6%,37.1%,0.1%,1.6%,10.0%,24.8%
Seattle University Community,2.7%,13.5%,10.2%,0.5%,37.7%,0.6%,0.6%,17.6%,16.7%
Seattle Uptown,2.6%,15.2%,10.3%,0.3%,33.4%,0.2%,1.0%,6.5%,30.5%
Silverdale,0.7%,26.2%,20.5%,0.0%,44.0%,1.7%,0.3%,0.2%,6.4%
Tacoma Downtown,1.3%,20.0%,15.9%,0.1%,44.5%,0.8%,0.5%,3.3%,13.5%
Tacoma Mall,1.3%,24.8%,17.6%,0.0%,44.3%,0.5%,0.5%,1.5%,9.5%
Tukwila,0.8%,24.7%,18.3%,0.1%,48.6%,0.0%,0.3%,3.7%,3.4%
University Place,1.1%,24.2%,17.7%,0.0%,41.7%,1.1%,0.5%,1.1%,12.5%

\[TOUR\] Mode Share to Work by Regional Center (Destination Location)

In [158]:
df_tour_work = df_tour[df_tour['pdpurp'] == 'Work'].copy()
calc_mode_share_by_rgc(df_tour_work, 'tour_d_rgc', 'tmodetp', 'toexpfac')

tmodetp,Bike,HOV2,HOV3+,Park,SOV,TNC,Transit,Walk
tour_d_rgc,,,,,,,,
Region,1.4%,15.3%,12.4%,0.5%,62.3%,1.0%,2.7%,4.3%
In RGC,1.8%,13.9%,11.3%,1.1%,55.2%,1.8%,6.0%,8.8%
Not in RGC,1.2%,16.1%,13.1%,0.2%,66.1%,0.6%,1.0%,1.8%
Auburn,1.2%,16.8%,15.1%,0.3%,62.5%,0.4%,1.3%,2.3%
Bellevue,1.5%,15.5%,13.1%,0.5%,58.9%,1.0%,2.0%,7.5%
Bothell Canyon Park,0.9%,15.8%,12.5%,0.1%,69.2%,0.6%,0.3%,0.6%
Bremerton,0.9%,17.0%,13.7%,0.5%,64.6%,0.5%,1.2%,1.7%
Burien,1.3%,15.7%,13.1%,0.1%,65.1%,0.5%,1.3%,2.8%
Everett,1.4%,16.3%,13.2%,0.2%,62.4%,0.7%,0.7%,5.2%
Federal Way,1.3%,16.2%,14.0%,0.1%,64.6%,0.4%,1.0%,2.5%
Greater Downtown Kirkland,1.1%,16.4%,12.7%,0.2%,65.8%,0.6%,0.9%,2.3%
Issaquah,0.5%,15.7%,14.0%,0.1%,68.0%,0.5%,0.5%,0.7%
Kent,1.2%,16.4%,14.3%,0.4%,62.6%,0.6%,1.8%,2.6%
Kirkland Totem Lake,1.3%,15.9%,13.7%,0.2%,65.5%,0.7%,0.7%,2.0%
Lakewood,1.3%,15.5%,12.5%,0.1%,66.2%,0.4%,0.8%,3.2%
Lynnwood,1.5%,15.2%,12.9%,0.1%,66.5%,0.7%,0.7%,2.5%
Puyallup Downtown,0.8%,16.6%,13.3%,0.2%,64.4%,0.7%,2.3%,1.8%
Puyallup South Hill,0.8%,17.5%,13.8%,0.1%,64.8%,0.4%,0.6%,1.9%
Redmond Downtown,1.2%,15.1%,12.1%,0.2%,63.4%,0.7%,0.7%,6.6%
Redmond-Overlake,1.1%,15.6%,12.9%,0.3%,66.3%,0.8%,1.1%,1.9%
Renton,1.2%,16.6%,14.4%,0.2%,63.8%,0.7%,1.0%,2.1%
SeaTac,1.2%,16.7%,13.4%,0.7%,63.1%,0.6%,2.6%,1.7%
Seattle Downtown,2.3%,10.8%,8.6%,2.6%,42.8%,3.4%,14.1%,15.5%
Seattle First Hill/Capitol Hill,2.2%,12.7%,10.0%,1.3%,47.7%,2.8%,6.7%,16.6%
Seattle Northgate,2.0%,15.4%,10.8%,0.3%,64.0%,0.9%,2.3%,4.5%
Seattle South Lake Union,2.8%,12.9%,10.3%,1.1%,52.6%,2.6%,4.8%,13.0%
Seattle University Community,1.8%,14.6%,11.7%,1.2%,61.6%,1.3%,4.6%,3.1%
Seattle Uptown,2.9%,13.2%,10.1%,0.8%,53.1%,1.4%,3.0%,15.5%
Silverdale,1.2%,15.3%,11.5%,0.2%,67.9%,0.5%,0.3%,3.2%
Tacoma Downtown,1.6%,16.5%,13.7%,0.3%,61.0%,0.6%,1.9%,4.5%
Tacoma Mall,1.8%,16.3%,13.1%,0.1%,64.7%,0.7%,1.0%,2.3%
Tukwila,0.9%,16.4%,13.9%,0.3%,65.8%,0.7%,1.5%,0.4%
University Place,1.9%,16.2%,12.6%,0.1%,63.1%,0.6%,1.0%,4.7%

\[TOUR\] Mode Share for Non-work Purposes by Regional Center (Destination Location)

In [159]:
df_tour_non_work = df_tour[df_tour['pdpurp'] != 'Work'].copy()
calc_mode_share_by_rgc(df_tour_non_work, 'tour_d_rgc', 'tmodetp', 'toexpfac')

tmodetp,Bike,HOV2,HOV3+,SOV,School Bus,TNC,Transit,Walk
tour_d_rgc,,,,,,,,
Region,1.3%,24.7%,21.9%,28.6%,3.5%,0.2%,3.4%,16.3%
In RGC,1.3%,21.9%,16.5%,27.2%,1.1%,0.4%,9.5%,22.1%
Not in RGC,1.3%,25.3%,23.0%,28.9%,4.1%,0.2%,2.2%,15.0%
Auburn,0.6%,28.1%,23.0%,34.5%,0.4%,0.2%,2.7%,10.6%
Bellevue,1.0%,21.0%,16.1%,22.0%,0.7%,0.3%,5.2%,33.8%
Bothell Canyon Park,0.8%,29.4%,27.5%,29.8%,3.1%,0.2%,1.2%,8.0%
Bremerton,1.7%,27.1%,19.1%,27.5%,0.3%,0.3%,0.2%,23.7%
Burien,0.7%,25.2%,19.2%,35.2%,1.9%,0.2%,4.3%,13.3%
Everett,0.8%,25.6%,20.0%,31.1%,1.4%,0.3%,3.3%,17.7%
Federal Way,0.5%,27.6%,20.8%,36.4%,0.5%,0.2%,3.0%,10.9%
Greater Downtown Kirkland,0.8%,26.8%,20.5%,31.3%,2.0%,0.2%,2.8%,15.7%
Issaquah,1.1%,28.0%,21.0%,40.0%,1.1%,0.2%,1.2%,7.5%
Kent,0.6%,28.0%,24.0%,32.9%,2.0%,0.2%,3.2%,9.2%
Kirkland Totem Lake,0.9%,25.2%,18.5%,40.9%,1.2%,0.2%,2.8%,10.4%
Lakewood,0.6%,29.8%,21.4%,36.4%,0.1%,0.4%,1.3%,9.9%
Lynnwood,0.7%,28.4%,20.2%,38.7%,0.8%,0.2%,2.1%,8.8%
Puyallup Downtown,0.7%,28.5%,25.0%,32.8%,3.3%,0.3%,1.1%,8.2%
Puyallup South Hill,0.7%,26.3%,20.0%,42.9%,0.3%,0.3%,0.4%,9.1%
Redmond Downtown,0.8%,26.3%,23.9%,27.6%,3.5%,0.1%,2.5%,15.3%
Redmond-Overlake,1.0%,25.0%,18.6%,30.9%,0.7%,0.2%,2.8%,20.8%
Renton,0.6%,27.5%,23.3%,31.7%,2.5%,0.2%,3.3%,10.9%
SeaTac,0.8%,26.4%,21.1%,27.3%,1.0%,0.2%,5.6%,17.6%
Seattle Downtown,1.8%,13.4%,9.2%,11.7%,0.7%,0.6%,24.7%,37.8%
Seattle First Hill/Capitol Hill,2.4%,14.3%,10.3%,16.5%,1.0%,0.8%,15.3%,39.4%
Seattle Northgate,1.0%,22.9%,16.1%,32.3%,1.6%,0.3%,9.2%,16.7%
Seattle South Lake Union,2.2%,14.4%,8.9%,17.8%,0.3%,0.4%,16.6%,39.5%
Seattle University Community,3.2%,12.7%,9.2%,22.6%,1.0%,0.2%,25.9%,25.2%
Seattle Uptown,2.4%,16.7%,10.5%,18.4%,0.4%,0.6%,9.1%,41.8%
Silverdale,0.5%,28.9%,22.8%,38.1%,2.1%,0.3%,0.2%,7.1%
Tacoma Downtown,1.0%,23.2%,18.1%,29.1%,1.6%,0.4%,4.7%,22.0%
Tacoma Mall,1.0%,28.4%,19.4%,35.7%,0.7%,0.5%,1.7%,12.5%
Tukwila,0.7%,28.5%,20.4%,40.6%,0.0%,0.2%,4.8%,4.9%
University Place,0.9%,26.6%,19.3%,35.2%,1.5%,0.4%,1.2%,14.9%

:::