---
title: "Top Sheet Summary"
date: today
---

In [103]:
import pandas as pd
import numpy as np
import toml
from pathlib import Path

config = toml.load(Path.cwd() / '../../../../configuration/input_configuration.toml')
summary_config = toml.load(Path.cwd() / '../../../../configuration/summary_configuration.toml')

pd.set_option('display.float_format', '{:,.0f}'.format)

In [2]:
# Relative path between notebooks and goruped output directories
output_path = Path(summary_config['sc_run_path']) / summary_config["output_folder"]
survey_path = Path(summary_config['sc_run_path']) / summary_config["survey_folder"]

In [28]:
def load_network_summary(filepath):
    """Load network-level results using a standard procedure. """
    df = pd.read_csv(filepath)

    # Get freeflow from 20to5 period

    # Exclude trips taken on non-designated facilities (facility_type == 0)
    # These are artificial (weave lanes to connect HOV) or for non-auto uses 
    df = df[df['data3'] != 0]    # data3 represents facility_type

    # calculate total link VMT and VHT
    df['VMT'] = df['@tveh']*df['length']
    df['VHT'] = df['@tveh']*df['auto_time']/60

    # Define facility type
    df.loc[df['data3'].isin([1,2]), 'facility_type'] = 'highway'
    df.loc[df['data3'].isin([3,4,6]), 'facility_type'] = 'arterial'
    df.loc[df['data3'].isin([5]), 'facility_type'] = 'connector'

    # Calculate delay
    # Select links from overnight time of day
    delay_df = df.loc[df['tod'] == '20to5'][['ij','auto_time']]
    delay_df.rename(columns={'auto_time':'freeflow_time'}, inplace=True)

    # Merge delay field back onto network link df
    df = pd.merge(df, delay_df, on='ij', how='left')

    # Calcualte hourly delay
    df['total_delay'] = ((df['auto_time']-df['freeflow_time'])*df['@tveh'])/60    # sum of (volume)*(travtime diff from freeflow)

    df['county'] =df['@countyid'].map({33: 'King',
                                      35: 'Kitsap',
                                      53: 'Pierce',
                                      61: 'Snohomish'})
    df['county'] = df['county'].fillna('Outside Region')
    
    return df

In [ ]:
# trip data
hh = pd.read_csv(output_path / 'agg/dash/hh_geog.csv')
# person data
person = pd.read_csv(output_path / 'agg/dash/pptyp_county.csv')
# employment data
employment = pd.read_csv(output_path / 'agg/dash/person_worker_type.csv')
# network data
df_network = load_network_summary(output_path / 'network/network_results.csv')

In [44]:
county_order = ['King','Kitsap','Pierce','Snohomish','Outside Region','Total']

person['person_county'] = pd.Categorical(person['person_county'], ordered=True,
                   categories=county_order)
hh['hh_county'] = pd.Categorical(hh['hh_county'], ordered=True,
                   categories=county_order)
employment['person_work_county'] = pd.Categorical(employment['person_work_county'], ordered=True,
                   categories=county_order)

df_network['county'] = pd.Categorical(df_network['county'], ordered=True,
                   categories=county_order)

## Households and Population

In [42]:
# Total Population
df_person = person.groupby('person_county')['psexpfac'].sum()
df_hh = hh.groupby('hh_county')['hhexpfac'].sum()

df = pd.concat([df_person,df_hh],axis=1)

df.loc['Total',] = df.sum()
df.rename(columns={'psexpfac': 'Persons',
                   'hhexpfac': 'Households'}, inplace=True)

df

C:\Users\JLin\AppData\Local\Temp\ipykernel_18168\3237209379.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_person = person.groupby('person_county')['psexpfac'].sum()
C:\Users\JLin\AppData\Local\Temp\ipykernel_18168\3237209379.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_hh = hh.groupby('hh_county')['hhexpfac'].sum()

                 Persons  Households
King           2,303,851     957,460
Kitsap           275,120     108,901
Pierce           925,555     350,141
Snohomish        851,485     319,624
Outside Region         8           3
Total          4,356,019   1,736,129

## Employment
By Workplace Location

In [47]:
df = employment.groupby('person_work_county',observed=True)['psexpfac'].sum()
df['Total'] = df.sum()
df = df.reset_index()
df.rename(columns={'psexpfac': 'Number of Employments',
                   'person_work_county':'County'}, inplace=True)
df.set_index('County')

           Number of Employments
County
King                   1,441,995
Kitsap                   104,796
Pierce                   353,707
Snohomish                326,412
Total                  2,226,910

## VMT, VHT, Vehicle hours delay
Includes truck and external trips

In [55]:
df_vmt = df_network.reset_index().groupby('county',observed=True)['VMT'].sum()
df_vht = df_network.reset_index().groupby('county',observed=True)['VHT'].sum()
df_delay = df_network.reset_index().groupby('county',observed=True)['total_delay'].sum()

df = pd.concat([df_vmt,df_vht,df_delay], axis=1)
df.rename(columns={'total_delay': 'Total Delay Hours'}, inplace=True)

df.loc['Total',] = df.sum()
df

                      VMT       VHT  Total Delay Hours
county
King           43,268,427 1,365,501            149,845
Kitsap          4,306,141   127,137              2,678
Pierce         18,405,290   547,949             30,231
Snohomish      15,944,486   462,788             29,353
Outside Region    329,190     6,331                  2
Total          82,253,533 2,509,706            212,108

## Transit Boardings

In [ ]:
# transit
transit = pd.read_csv(output_path / 'agg/dash/daily_boardings_by_agency.csv')

df = transit[['agency','model_boardings']].set_index('agency').copy()
df.loc['Total',:] = df['model_boardings'].sum()
df.rename(columns={'model_boardings': 'Daily Boardings'}, inplace=True)

df

                    Daily Boardings
agency
Community Transit            26,466
Everett Transit               5,084
King County Metro           289,054
Kitsap Transit               10,987
Pierce Transit               23,585
Sound Transit               141,114
Washington Ferries            6,425
Total                       502,714

## Mode Share

In [ ]:
# mode share
mode_share = pd.read_csv(output_path / 'agg/dash/mode_share_county.csv')

df = mode_share.groupby('mode')['trexpfac'].sum().reset_index().set_index('mode')
df['Mode Share'] = (df['trexpfac']/ (mode_share['trexpfac'].sum()))
df[['Mode Share']].style.format({'Mode Share': "{:0,.1%}"})

# Emissions
Daily Tons for light, medium, and heavy vehicles; bus vehicles are excluded.

In [ ]:
df = pd.read_csv(output_path / 'emissions/emissions_summary.csv')

df = df[df['veh_type'].isin(['light','medium','heavy'])]
df = df.groupby('pollutant_name').sum()
df.rename(columns={'start_tons': 'Start', 'intrazonal_tons': 'Intrazonal', 'interzonal_tons': 'Interzonal',
                  'total_daily_tons': 'Total Daily'},
                  inplace=True)
df = df.loc[df.index.isin(['CO','NOx','PM25 Total','PM10 Total','CO2 Equivalent']),
            ['Start', 'Intrazonal', 'Interzonal', 'Total Daily']]

df

                Start  Intrazonal  Interzonal  Total Daily
pollutant_name
CO                124           2         235          361
CO2 Equivalent  2,290         255      37,713       40,258
NOx                 9           0          38           47
PM10 Total          0           0           5            5
PM25 Total          0           0           1            2

# Lane Miles

In [95]:
facility_type_dict = {
    1: 'Interstate',
    2: 'Other Freeway',
    3: 'Expressway',
    4: 'Ramp',
    5: 'Principal Arterial',
    6: 'Minor Arterial',
    7: 'Major Collector',
    8: 'Minor Collector',
    9: 'Local',
    10: 'Busway',
    11: 'Non-Motor',
    12: 'Light Rail',
    13: 'Commuter Rail',
    15: 'Ferry',
    16: 'Passenger-Only Ferry',
    17: 'Centroid Connector',
    18: 'Facility Connector',
    19: 'HOV Only Freeway',
    20: 'HOV Only Ramp',
    98: 'Weave Links'
}

ul3_dict = {
    0: 'Rail/Walk/Ferry',
    1: 'Freeway',
    2: 'Expressway',
    3: 'Urban Arterial',
    4: 'One-way Arterial',
    5: 'Centroid Connector',
    6: 'Rural Arterial'
}

county_dict = {
    33: 'King',
    35: 'Kitsap',
    53: 'Pierce',
    61: 'Snohomish'
}

In [96]:
facility_type_dict.values()

dict_values(['Interstate', 'Other Freeway', 'Expressway', 'Ramp', 'Principal Arterial', 'Minor Arterial', 'Major Collector', 'Minor Collector', 'Local', 'Busway', 'Non-Motor', 'Light Rail', 'Commuter Rail', 'Ferry', 'Passenger-Only Ferry', 'Centroid Connector', 'Facility Connector', 'HOV Only Freeway', 'HOV Only Ramp', 'Weave Links'])

In [101]:
# Select mid-day network
gdf = df_network.loc[df_network['tod'] == '10to14'].copy()
gdf['Lane Miles'] = gdf['length'] * gdf['num_lanes']

gdf['Facility Type'] = pd.Categorical(gdf['@facilitytype'].map(facility_type_dict), 
                                      ordered=True,
                                      categories=facility_type_dict.values())

df = gdf.groupby(['Facility Type'], observed=True)['Lane Miles'].sum().reset_index().set_index('Facility Type')

# df = df.drop(['@facilitytype','Facility Type'], axis=1)
df.loc['Total','Lane Miles'] = df['Lane Miles'].sum()
df

                    Lane Miles
Facility Type
Interstate               1,468
Other Freeway              767
Expressway                 229
Ramp                       537
Principal Arterial       3,101
Minor Arterial           4,060
Major Collector          2,925
Minor Collector            219
Local                      299
Centroid Connector       9,821
Facility Connector          19
HOV Only Freeway             3
HOV Only Ramp               20
Total                   23,468

In [ ]:
gdf['Facility Group'] = pd.Categorical(gdf['data3'].map(ul3_dict), 
                                      ordered=True,
                                      categories=ul3_dict.values())

df = gdf.groupby(['Facility Group'], observed=True)['Lane Miles'].sum().reset_index().set_index('Facility Group')

df.loc['Total','Lane Miles'] = df['Lane Miles'].sum()
df

                    Lane Miles
Facility Group
Freeway                  2,236
Expressway                 677
Urban Arterial           6,871
One-way Arterial           452
Centroid Connector       9,839
Rural Arterial           3,340
Total                   23,415

In [108]:
# Load link attributes and join
gdf['county'] = gdf['county'].replace(np.nan,'Outside Region')
df = gdf.groupby(['county'], observed=True)['Lane Miles'].sum().reset_index().set_index('county')

df.loc['Total','Lane Miles'] = df['Lane Miles'].sum()
df

                Lane Miles
county
King                10,803
Kitsap               2,022
Pierce               5,815
Snohomish            4,769
Outside Region          58
Total               23,468