---
title: "Person"
date: today
---

In [1]:
import os, sys, time, glob
import warnings
import re
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import pandana as pdna
pd.options.mode.chained_assignment = None
import h5py
sys.path.append(os.path.join(os.getcwd(),r'..\..\..'))
# from input_configuration import base_year
import toml
config = toml.load(os.path.join(os.getcwd(),'../../../../configuration/input_configuration.toml'))
summary_config = toml.load(os.path.join(os.getcwd(),'../../../../configuration/summary_configuration.toml'))

%matplotlib inline

from IPython.display import display, HTML

if (sys.version_info < (3, 0)):
    HTML('''<script>
    code_show=true; 
    function code_toggle() {
     if (code_show){
     $('div.input').hide();
     } else {
     $('div.input').show();
     }
     code_show = !code_show
    } 
    $( document ).ready(code_toggle);
    </script>
    <form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [2]:
CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

# Relative path between notebooks and goruped output directories
output_path = os.path.join(summary_config['sc_run_path'], summary_config["output_folder"])
survey_path = os.path.join(summary_config['sc_run_path'], summary_config["survey_folder"])
output_dir = os.path.join(output_path,'compare\RTP\person')

# Write out CSVs with a numeric value prefix to help organize outputs 
incr = 1

In [3]:
pd.options.display.float_format = '{:0,.0f}'.format

In [4]:
def load_network_summary(filepath):
    """Load network-level results using a standard procedure. """
    df = pd.read_csv(filepath)

    # Congested network components by time of day
    df.columns

    # Get freeflow from 20to5 period

    # Exclude trips taken on non-designated facilities (facility_type == 0)
    # These are artificial (weave lanes to connect HOV) or for non-auto uses 
    df = df[df['data3'] != 0]    # data3 represents facility_type

    # calculate total link VMT and VHT
    df['VMT'] = df['@tveh']*df['length']
    df['VHT'] = df['@tveh']*df['auto_time']/60

    # Define facility type
    df.loc[df['data3'].isin([1,2]), 'facility_type'] = 'highway'
    df.loc[df['data3'].isin([3,4,6]), 'facility_type'] = 'arterial'
    df.loc[df['data3'].isin([5]), 'facility_type'] = 'connector'

    # Calculate delay
    # Select links from overnight time of day
    delay_df = df.loc[df['tod'] == '20to5'][['ij','auto_time']]
    delay_df.rename(columns={'auto_time':'freeflow_time'}, inplace=True)

    # Merge delay field back onto network link df
    df = pd.merge(df, delay_df, on='ij', how='left')

    # Calcualte hourly delay
    df['total_delay'] = ((df['auto_time']-df['freeflow_time'])*df['@tveh'])/60    # sum of (volume)*(travtime diff from freeflow)

    df['county'] =df['@countyid'].map({33: 'King',
                                      35: 'Kitsap',
                                      53: 'Pierce',
                                      61: 'Snohomish'})
    
    return df

## Trips per Day by Resident

In [5]:
pd.options.display.float_format = '{:0,.1f}'.format
df_trip = pd.read_csv(os.path.join(output_path,'agg\dash\person_trips.csv'))
person = pd.read_csv(os.path.join(output_path,'agg\dash\person_geog.csv'))

df_trip['is_rgc'] = 0
df_trip.loc[df_trip['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person = person.copy()
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1

In [6]:
# test = pd.read_csv(r'R:\e2projects_two\SoundCast\Inputs\db_inputs\parcel_2023_geography.csv')

:::{.panel-tabset}

### County and Region

In [7]:
def trips_per_day(geog): 
    df1 = df_person.groupby(geog).sum()[['psexpfac']]
    df2 = df_trip.groupby(geog).sum()[['trexpfac']]
    df = df1.merge(df2, left_index=True, right_index=True)
    df.loc['Region', 'psexpfac'] = df_person.sum()['psexpfac']
    df.loc['Region', 'trexpfac'] = df_trip.sum()['trexpfac']
    df['Total Trips per Day'] = df['trexpfac']/df['psexpfac']

    df_trip.loc[df_trip['dpurp'] != 'Work', 'trip_type'] = 'Non-Work'
    df_trip.loc[df_trip['dpurp'] == 'Work', 'trip_type'] = 'Work'
    for purp in ['Work','Non-Work']:
        _df = df_trip[df_trip['trip_type'] == purp].groupby(geog).sum()[['trexpfac']]
        _df.rename(columns={'trexpfac': purp + ' Trips'}, inplace=True)

        # Add regional total to bottom of table
        _df.loc['Region', purp + ' Trips'] = df_trip[df_trip['trip_type'] == purp].sum()['trexpfac']
        df = df.merge(_df, left_index=True, right_index=True)

    df['Work Trips per Day'] = df['Work Trips']/df['psexpfac']
    df['Non-Work Trips per Day'] = df['Non-Work Trips']/df['psexpfac']
    df[['Work Trips per Day','Non-Work Trips per Day','Total Trips per Day']]
    
    return df[['Work Trips per Day', 'Non-Work Trips per Day','Total Trips per Day']]

In [8]:
df = trips_per_day('hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_county.csv')); incr+=1
df

           Work Trips per Day  Non-Work Trips per Day  Total Trips per Day
hh_county
King                      0.5                     3.4                  3.9
Kitsap                    0.7                     5.7                  6.5
Pierce                    0.6                     4.7                  5.3
Snohomish                 0.7                     4.7                  5.4
Region                    0.6                     3.9                  4.5

### Regional Growth Centers

In [9]:
df = trips_per_day('is_rgc')
# df.index = ['Not in RGC', 'In RGC','Region']
df

        Work Trips per Day  Non-Work Trips per Day  Total Trips per Day
is_rgc
0                      0.6                     3.9                  4.5
1                      0.6                     3.2                  3.9
Region                 0.6                     3.9                  4.5

In [10]:
df = trips_per_day('hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_rgc.csv')); incr+=1
df

,Work Trips per Day,Non-Work Trips per Day,Total Trips per Day
hh_rgc,,,
Auburn,0.4,3.3,3.7
Bellevue,0.6,3.3,3.9
Bothell Canyon Park,0.5,3.3,3.8
Bremerton,0.5,3.4,3.9
Burien,0.5,3.2,3.7
Everett,0.5,3.3,3.8
Federal Way,0.4,3.5,3.8
Greater Downtown Kirkland,0.5,3.2,3.8
Kent,0.4,3.2,3.7
Kirkland Totem Lake,0.5,3.2,3.7
Lakewood,0.4,3.2,3.6
Lynnwood,0.5,3.3,3.9
Not in RGC,0.6,3.9,4.5
Puyallup Downtown,0.4,2.9,3.3
Puyallup South Hill,0.5,3.0,3.5
Redmond Downtown,0.6,3.2,3.8
Redmond-Overlake,0.6,3.1,3.7
Renton,0.5,3.2,3.7
SeaTac,0.5,3.3,3.7
Seattle Downtown,0.8,3.3,4.1
Seattle First Hill/Capitol Hill,0.8,3.3,4.0
Seattle Northgate,0.6,3.2,3.7
Seattle South Lake Union,0.8,3.2,4.0
Seattle University Community,0.5,2.6,3.1
Seattle Uptown,0.8,3.2,4.0
Tacoma Downtown,0.5,3.3,3.8
Tacoma Mall,0.4,3.0,3.3
Tukwila,0.6,2.9,3.6
University Place,0.4,3.2,3.6
Region,0.6,3.9,4.5

### Regional Geographies

In [11]:
df = trips_per_day('hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_reg_geog.csv')); incr+=1
df

,Work Trips per Day,Non-Work Trips per Day,Total Trips per Day
hh_rg_proposed,,,
CitiesTowns,0.4,3.1,3.6
Core,0.5,3.2,3.7
HCT,0.9,6.3,7.2
Metro,0.5,3.2,3.8
Region,0.6,3.9,4.5

### Equity Geographies

In [12]:
# Summary by equity geographies
# Calculate person totals
results_df = pd.DataFrame()
trip_rate_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']

equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        val = df_person[df_person[equity_geog+geog_type] == 1].sum()['psexpfac']
        results_df.loc[equity_geog+geog_type,'psexpfac'] = val
        
# Calculate total work trips per each group
work_results_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        for purp in ['Non-Work','Work']:
            _df = df_trip[df_trip['trip_type'] == purp].groupby(equity_geog+geog_type).sum()[['trexpfac']]
            if 1 in _df.index:
                if geog_type == '_reg' or equity_geog in list_50:
                    _rate_df = pd.DataFrame([purp,
                                         equity_geog+geog_type,
                                         _df.loc[1].trexpfac/results_df.loc[equity_geog+geog_type].psexpfac]).T
                trip_rate_df = trip_rate_df.append(_rate_df) 
trip_rate_df.columns = ['Trip Type','Equity Group','Trip Rate']
df = trip_rate_df.pivot_table(columns='Trip Type', index='Equity Group', values='Trip Rate', aggfunc='sum')
df['Total Trips per Day'] = df['Non-Work'] + df['Work']
df.rename(columns={'Non-Work': 'Non-Work Trips per Day', 'Work': 'Work Trips per Day'}, inplace=True)
df = df.reset_index()
df = df.rename_axis(None, axis=1)
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_equity.csv'))
HTML(df[['Equity Group','Work Trips per Day','Non-Work Trips per Day','Total Trips per Day']].to_html(index=False))

In [13]:
# Summary by equity geographies
# Calculate person totals
results_df = pd.DataFrame()
trip_rate_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']

equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        val = df_person[df_person[equity_geog+geog_type] == 0].sum()['psexpfac']
        results_df.loc[equity_geog+geog_type,'psexpfac'] = val
        
# Calculate total work trips per each group
work_results_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        for purp in ['Non-Work','Work']:
            _df = df_trip[df_trip['trip_type'] == purp].groupby(equity_geog+geog_type).sum()[['trexpfac']]
            if 1 in _df.index:
                if geog_type == '_reg' or equity_geog in list_50:
                    _rate_df = pd.DataFrame([purp,
                                         equity_geog+geog_type,
                                         _df.loc[1].trexpfac/results_df.loc[equity_geog+geog_type].psexpfac]).T
                trip_rate_df = trip_rate_df.append(_rate_df) 
trip_rate_df.columns = ['Trip Type','Equity Group','Trip Rate']
df = trip_rate_df.pivot_table(columns='Trip Type', index='Equity Group', values='Trip Rate', aggfunc='sum')
df['Total Trips per Day'] = df['Non-Work'] + df['Work']

df.rename(columns={'Non-Work': 'Non-Work Trips per Day', 'Work': 'Work Trips per Day'}, inplace=True)
df = df.reset_index()
df = df.rename_axis(None, axis=1)
df['Equity Group'] = ['NOT in '+i for i in df['Equity Group']]
df.to_csv(os.path.join(output_dir,str(incr)+'_trips_per_day_equity.csv'))
HTML(df[['Equity Group','Work Trips per Day','Non-Work Trips per Day','Total Trips per Day']].to_html(index=False))

:::

## Miles Driven per Day by Resident

In [14]:
pd.options.display.float_format = '{:0,.1f}'.format
df_vmt = pd.read_csv(os.path.join(output_path,'agg\dash\person_vmt.csv'))
df_person = person.copy()

df_vmt['is_rgc'] = 0
df_vmt.loc[df_vmt['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1

# Select only drivers (dorp = 1) and auto trips
df_vmt = df_vmt[df_vmt['mode'].isin(['SOV','HOV2','HOV3+']) & (df_vmt['dorp'] == 1)]

def vmt_per_person(df_vmt, df_person, geog):
    _df_vmt = df_vmt.groupby(geog).sum()[['travdist_wt']]
    _df_person = df_person.groupby(geog).sum()[['psexpfac']]

    df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
    df.loc['Region',:] = df.sum(axis=0)
    df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
    
    return df[['Average Miles per Person']]

:::{.panel-tabset}

### County

In [15]:
df = vmt_per_person(df_vmt, df_person, 'hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_county.csv')); incr+=1
df

           Average Miles per Person
hh_county
King                           13.2
Kitsap                         10.0
Pierce                         12.7
Snohomish                      14.5
Region                         13.2

### Regional Growth Centers

In [16]:
df = vmt_per_person(df_vmt, df_person, 'is_rgc')
df.index = ['Not in RGC', 'In RGC','Region']
df

            Average Miles per Person
Not in RGC                      13.8
In RGC                           7.1
Region                          13.2

In [17]:
df = vmt_per_person(df_vmt, df_person, 'hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_rgc.csv')); incr+=1
df

                                 Average Miles per Person
hh_rgc
Auburn                                               12.4
Bellevue                                              9.2
Bothell Canyon Park                                  14.7
Bremerton                                             7.6
Burien                                               13.7
Everett                                              11.9
Federal Way                                          13.6
Greater Downtown Kirkland                            15.1
Kent                                                 10.7
Kirkland Totem Lake                                  15.2
Lakewood                                              9.5
Lynnwood                                             11.8
Not in RGC                                           13.8
Puyallup Downtown                                     8.9
Puyallup South Hill                                  12.2
Redmond Downtown                                     12.9
Redmond-Overlake                                     11.2
Renton                                               12.4
SeaTac                                               12.2
Seattle Downtown                                      2.2
Seattle First Hill/Capitol Hill                       2.9
Seattle Northgate                                    10.4
Seattle South Lake Union                              3.6
Seattle University Community                          5.8
Seattle Uptown                                        5.6
Tacoma Downtown                                       7.6
Tacoma Mall                                           8.5
Tukwila                                              13.0
University Place                                     10.9
Region                                               13.2

### Regional Geography

In [18]:
df = vmt_per_person(df_vmt, df_person, 'hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_reg_geog.csv')); incr+=1
df

                Average Miles per Person
hh_rg_proposed
CitiesTowns                         17.3
Core                                14.6
HCT                                 14.4
Metro                               10.4
Region                              13.2

### Equity Geographies


Average Miles per Person (by residence inside or outside equity geography)

In [19]:
result_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = vmt_per_person(df_vmt, df_person, col)
            if 1 in df.index:
                df = df.loc[1]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df = result_df[~result_df.index.duplicated()]
df_in = result_df.copy()

result_df = pd.DataFrame()
list_50 = ['hh_racial','hh_poverty']
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = vmt_per_person(df_vmt, df_person, col)
            if 0 in df.index:
                df = df.loc[0]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df = result_df[~result_df.index.duplicated()]
# result_df.index = ['NOT in '+i for i in result_df.index]


df_out = result_df.copy()

df = df_in.merge(df_out, left_index=True, right_index=True)
df.columns = ['Inside Equity Geography',  'Outside Equity Geography']
df.to_csv(os.path.join(output_dir,str(incr)+'_vmt_equity.csv')); incr+=1
df

                   Inside Equity Geography  Outside Equity Geography
source
hh_youth_reg                          14.7                      12.1
hh_elderly_reg                        13.4                      13.0
hh_english_reg                        13.8                      12.8
hh_racial_reg                         12.9                      13.5
hh_racial_50                          13.0                      13.3
hh_poverty_reg                        12.2                      13.9
hh_poverty_50                          9.8                      13.3
hh_disability_reg                     12.6                      13.6

:::

## Miles Walking and Biking per Day by Resident

In [ ]:
df_vht = pd.read_csv(os.path.join(output_path,'agg\dash\person_vht.csv'))
df_hh = pd.read_csv(os.path.join(output_path,'agg\dash\hh_geog.csv'))



# def walk_bike_per_person_time(df_vmt, df_person, geog):
    
#     results_df = pd.DataFrame()
#     for mode in ['Walk','Bike']:
        
#         _df_vmt = df_vmt[df_vmt['mode'] == mode]
#         _df_vmt = _df_vmt.groupby(geog).sum()[['travtime_wt']]
#         _df_hh = df_hh.groupby(geog).sum()[['hhexpfac']]

#         df = _df_vmt.merge(_df_hh, left_index=True, right_index=True)
#         df.loc['Region',:] = df.sum(axis=0)
#         df['Average Miles per Person'] = df['travtime_wt']/df['hhexpfac']
#         results_df[mode] = df['Average Miles per Person']
    
#     _df_vmt = df_vmt[df_vmt['mode'].isin(['Walk','Bike'])]
#     _df_vmt = _df_vmt.groupby(geog).sum()[['travtime_wt']]
#     _df_hh = df_hh.groupby(geog).sum()[['hhexpfac']]

#     df = _df_vmt.merge(_df_hh, left_index=True, right_index=True)
#     df.loc['Region',:] = df.sum(axis=0)
#     df['Average Miles per Person'] = df['travtime_wt']/df['hhexpfac']
#     results_df['Walk and Bike'] = df['Average Miles per Person']
    
#     return results_df

# df = walk_bike_per_person_time(df_vht, df_hh, 'hh_county')
# # df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_county.csv')); incr+=1
# df

           Walk  Bike  Walk and Bike
hh_county
King       26.0   3.5           29.6
Kitsap     29.3   2.5           31.7
Pierce     25.6   3.1           28.6
Snohomish  25.8   3.1           28.9
Region     26.0   3.4           29.4

In [21]:
# df = pd.read_csv(r'..\..\..\outputs\agg\dash\trip_distance.csv')
# _df = df[df['mode'] == 'Bike']
# (_df['travdist_bin']*_df['trexpfac']).sum()/_df['trexpfac'].sum()

In [22]:
# _df = df[df['mode'] == 'Walk']
# (_df['travdist_bin']*_df['trexpfac']).sum()/_df['trexpfac'].sum()

In [23]:
df_vmt = pd.read_csv(os.path.join(output_path,'agg\dash\person_vmt.csv'))
df_person = person.copy()

df_vmt['is_rgc'] = 0
df_vmt.loc[df_vmt['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1
df_person['is_rgc'] = 0
df_person.loc[df_person['hh_rgc'] != 'Not in RGC', 'is_rgc'] = 1


def walk_bike_per_person(df_vmt, df_person, geog):
    
    results_df = pd.DataFrame()
    for mode in ['Walk','Bike']:
        
        _df_vmt = df_vmt[df_vmt['mode'] == mode]
        _df_vmt = _df_vmt.groupby(geog).sum()[['travdist_wt']]
        _df_person = df_person.groupby(geog).sum()[['psexpfac']]

        df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
        df.loc['Region',:] = df.sum(axis=0)
        df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
        results_df[mode] = df['Average Miles per Person']
    
    _df_vmt = df_vmt[df_vmt['mode'].isin(['Walk','Bike'])]
    _df_vmt = _df_vmt.groupby(geog).sum()[['travdist_wt']]
    _df_person = df_person.groupby(geog).sum()[['psexpfac']]

    df = _df_vmt.merge(_df_person, left_index=True, right_index=True)
    df.loc['Region',:] = df.sum(axis=0)
    df['Average Miles per Person'] = df['travdist_wt']/df['psexpfac']
    results_df['Walk and Bike'] = df['Average Miles per Person']
    
    return results_df

:::{.panel-tabset}

### County and Region

In [24]:
df = walk_bike_per_person(df_vmt, df_person, 'hh_county')
df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_county.csv')); incr+=1
df

           Walk  Bike  Walk and Bike
hh_county
King        0.5   0.2            0.8
Kitsap      0.6   0.2            0.8
Pierce      0.5   0.2            0.7
Snohomish   0.5   0.2            0.7
Region      0.5   0.2            0.7

### Regional Growth Center

In [25]:
df = walk_bike_per_person(df_vmt, df_person, 'is_rgc')
df.index = ['Not in RGC', 'Inside RGC', 'Region']
df

            Walk  Bike  Walk and Bike
Not in RGC   0.5   0.2            0.7
Inside RGC   1.0   0.3            1.3
Region       0.5   0.2            0.7

In [26]:
df = walk_bike_per_person(df_vmt, df_person, 'hh_rgc')
df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_rgc.csv'))
df

                                 Walk  Bike  Walk and Bike
hh_rgc
Auburn                            0.6   0.3            0.9
Bellevue                          0.8   0.3            1.1
Bothell Canyon Park               0.6   0.3            0.9
Bremerton                         0.9   0.3            1.1
Burien                            0.6   0.3            0.8
Everett                           0.8   0.3            1.1
Federal Way                       0.7   0.2            0.8
Greater Downtown Kirkland         0.5   0.3            0.8
Kent                              0.7   0.4            1.1
Kirkland Totem Lake               0.5   0.3            0.8
Lakewood                          0.6   0.2            0.8
Lynnwood                          0.7   0.3            1.0
Not in RGC                        0.5   0.2            0.7
Puyallup Downtown                 0.6   0.3            0.9
Puyallup South Hill               0.6   0.2            0.8
Redmond Downtown                  0.5   0.4            1.0
Redmond-Overlake                  0.6   0.4            1.0
Renton                            0.7   0.4            1.1
SeaTac                            0.6   0.3            0.9
Seattle Downtown                  1.4   0.2            1.7
Seattle First Hill/Capitol Hill   1.4   0.2            1.7
Seattle Northgate                 0.7   0.4            1.1
Seattle South Lake Union          1.3   0.2            1.6
Seattle University Community      0.8   0.4            1.2
Seattle Uptown                    1.2   0.4            1.6
Tacoma Downtown                   1.0   0.3            1.2
Tacoma Mall                       0.8   0.3            1.1
Tukwila                           0.7   0.2            0.9
University Place                  0.6   0.2            0.7
Region                            0.5   0.2            0.7

### Regional Geography

In [27]:
df = walk_bike_per_person(df_vmt, df_person, 'hh_rg_proposed')
df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_reg_geog.csv')); incr+=1
df

                Walk  Bike  Walk and Bike
hh_rg_proposed
CitiesTowns      0.4   0.1            0.6
Core             0.4   0.2            0.7
HCT              0.5   0.2            0.6
Metro            0.7   0.2            0.9
Region           0.5   0.2            0.7

### Equity Geographies

In [28]:
result_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = walk_bike_per_person(df_vmt, df_person, col)
            if 1 in df.index:
                df = df.loc[1]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_equity.csv')); incr+=1
result_df

                   Bike  Walk  Walk and Bike
source
hh_youth_reg        0.2   0.4            0.6
hh_elderly_reg      0.2   0.5            0.7
hh_english_reg      0.2   0.5            0.7
hh_racial_reg       0.2   0.5            0.8
hh_racial_50        0.2   0.5            0.8
hh_poverty_reg      0.2   0.6            0.8
hh_poverty_50       0.3   0.7            1.0
hh_disability_reg   0.2   0.6            0.8

In [29]:
result_df = pd.DataFrame()
equity_geogs = ['hh_youth','hh_elderly','hh_english','hh_racial','hh_poverty','hh_disability']
for equity_geog in equity_geogs:
    for geog_type in ['_reg','_50']:
        if geog_type == '_reg' or equity_geog in list_50:
            col = equity_geog+geog_type
            df = walk_bike_per_person(df_vmt, df_person, col)
            if 0 in df.index:
                df = df.loc[0]
            df['source'] = col
            result_df = result_df.append(df)
result_df.index = result_df.source
result_df.drop('source', axis=1, inplace=True)
result_df.index = ['NOT in '+i for i in result_df.index]
result_df.to_csv(os.path.join(output_dir,str(incr)+'_mile_bikewalk_equity.csv')); incr+=1
result_df

                          Bike  Walk  Walk and Bike
NOT in hh_youth_reg        0.2   0.6            0.8
NOT in hh_elderly_reg      0.2   0.6            0.8
NOT in hh_english_reg      0.2   0.6            0.8
NOT in hh_racial_reg       0.2   0.5            0.7
NOT in hh_racial_50        0.2   0.5            0.7
NOT in hh_poverty_reg      0.2   0.5            0.7
NOT in hh_poverty_50       0.2   0.5            0.7
NOT in hh_disability_reg   0.2   0.5            0.7

:::