---
title: "Parking Cost"
date: today
---

In [1]:
#| include: false

import os
import pandas as pd
import numpy as np
import sqlite3
# import plotly.express as px
import toml
# import psrc_theme
from pathlib import Path
import summary_data

# to show plotly figures in quarto HTML file
# import plotly.io as pio
# pio.renderers.default = "plotly_mimetype+notebook_connected"
# pio.templates.default = "simple_white+psrc_color" # set plotly template

config = summary_data.CONFIG
all_runs = summary_data.ALL_RUNS
input_config = summary_data.INPUT_CONFIG

In [2]:
# Join parcel lookup data to parcel files to do some county and district summaries
# Load parcel geography lookup from soundcast db
conn = sqlite3.connect(r'../../../../inputs/db/soundcast_inputs_2023.db')
df_geog_lookup = pd.read_sql_query("SELECT ParcelID, CountyName, district_name, GrowthCenterName FROM parcel_2023_geography", conn)

# Land Use Summary
df_parcels = summary_data.load_landuse('landuse/parcels_urbansim.txt')
# Merge lookup data to parcels
df_parcels = df_parcels.merge(df_geog_lookup, left_on='parcelid', right_on='ParcelID', how='left')

# total parking cost
df_parcels['total_parking_cost'] = df_parcels['pprichrp'] * df_parcels['parkhr_p']

In [3]:
# input_config["model_year"]

In [4]:
df_parking_zones = pd.read_sql("SELECT * FROM parking_zones", con=conn)
df_parking_cost = pd.read_sql(
    "SELECT * FROM parking_costs WHERE year==" + input_config["model_year"], con=conn
)
df_parcels = pd.merge(
    left=df_parcels, right=df_parking_zones, left_on="taz_p", right_on="TAZ", how="left"
)

## Parking

### Hourly Parking Cost

- total hourly parking cost in parcel = `parkhr_p` * `pprichrp`

:::{.panel-tabset}

#### Region total

In [5]:
# # Daily parking cost totals (ppricdyp)
# pd.pivot_table(df_parcels, index='source', values='pprichrp', aggfunc='median').style.format('{:,.2f}')

# What percent of parcels have paid parking?
df_parcels['paid_parking'] = df_parcels['pprichrp'].apply(lambda x: 1 if x > 0 else 0)
# df_parcels[df_parcels['paid_parking']==1]
df_parcels['paid_parking'].value_counts(normalize=True).sort_index().to_frame().style.format('{:.2%}').set_caption('Percent of parcels with paid parking')

#### District

In [6]:
# Parking costs by district
df1 = pd.pivot_table(df_parcels, index='district_name', columns='source', values='paid_parking', aggfunc='sum')
df2 = pd.pivot_table(df_parcels, index='district_name', columns='source', values='paid_parking', aggfunc='count')

(df1 / df2).style.format('{:,.1%}').set_caption('Paid parking by growth center')

#### Parking Zone

In [7]:

# Sort ENS by the numeric value of the ENS column
df_parcels['ENS'] = df_parcels['ENS'].astype(str).str.extract('(\d+)').astype(int)
df_parcels['ENS'] = df_parcels['ENS'].astype(str).str.zfill(2)  

(pd.pivot_table(df_parcels, index='ENS', columns='source', values='paid_parking', aggfunc='sum')/\
    pd.pivot_table(df_parcels, index='ENS', columns='source', values='paid_parking', aggfunc='count')).style.format('{:,.1%}').set_caption('Paid parking by Parking Zone')\

In [8]:
df1 = pd.pivot_table(df_parcels, index='district_name', columns='source', values='paid_parking', aggfunc='sum')
df2 = pd.pivot_table(df_parcels, index='district_name', columns='source', values='paid_parking', aggfunc='count')

(df1 / df2).style.format('{:,.1%}').set_caption('Paid parking by growth center')

#### RGC

In [9]:
df1 = pd.pivot_table(df_parcels, index='GrowthCenterName', columns='source', values='paid_parking', aggfunc='sum')
df2 = pd.pivot_table(df_parcels, index='GrowthCenterName', columns='source', values='paid_parking', aggfunc='count')

(df1 / df2).style.format('{:,.1%}').set_caption('Paid parking by growth center')

:::

### Parking Supply

- The number of paid public off-street parking spaces with per-hour pricing

:::{.panel-tabset}

#### Region total

In [10]:
# Daily parking cost totals (ppricdyp)
pd.pivot_table(df_parcels, index='source', values='parkhr_p', aggfunc='sum').style.format('{:,.0f}')

#### District

In [11]:
# Parking costs by district
pd.pivot_table(df_parcels, index='district_name', columns='source', values='parkhr_p', aggfunc='sum').style.format('{:,.0f}')

#### Parking Zone

In [12]:
# Parking costs by zone
pd.pivot_table(df_parcels, index='ENS', columns='source', values='parkhr_p', aggfunc='sum').style.format('{:,.0f}')

#### RGC

In [13]:
pd.pivot_table(df_parcels, index='GrowthCenterName', columns='source', values='parkhr_p', aggfunc='sum').style.format('{:,.0f}')

:::