---
title: "Summary"
date: today
---

In [ ]:
#| include: false

import os
import pandas as pd
import numpy as np
# import plotly.express as px
import toml
# import psrc_theme
from pathlib import Path
import summary_data

# to show plotly figures in quarto HTML file
# import plotly.io as pio
# pio.renderers.default = "plotly_mimetype+notebook_connected"
# pio.templates.default = "simple_white+psrc_color" # set plotly template

config = summary_data.CONFIG
all_runs = summary_data.ALL_RUNS

In [75]:
# network summary: 'VMT','VHT','total_delay'
df_network = summary_data.load_agg_data('network/network_results.csv')
network_summary = df_network.groupby('source')[['VMT','VHT','total_delay']].sum()
network_summary = network_summary.rename(columns={'total_delay': 'Delay'})
# transit boardings
df_boardings = summary_data.load_agg_data('transit/daily_boardings_by_agency.csv')
transit_ridership = df_boardings.groupby('source')['boardings'].sum()
# mode share
df_trip = summary_data.load_agg_data('agg/dash/mode_share_county.csv')
df = df_trip.groupby('source')['trexpfac'].sum() # total trips
transit_share = df_trip.loc[df_trip['mode']=="Transit"].groupby('source')['trexpfac'].sum()/df

# emission
df_emissions = summary_data.load_agg_data('emissions/emissions_summary.csv')
df = df_emissions.loc[(df_emissions['veh_type'].isin(['light','medium','heavy'])) & \
                      (df_emissions['pollutant_name']=="CO2 Equivalent")].copy()
CO2e = df.groupby('source')['total_daily_tons'].sum()

In [76]:
run_summary2 = pd.DataFrame({
    'Transit Boardings': transit_ridership,
    '% Transit': transit_share,
    'CO2e': CO2e
})

pd.concat([network_summary,run_summary2], axis=1).style.\
        format('{:,.0f}', subset=['VMT','VHT','Delay','Transit Boardings','CO2e']).\
        format('{:.1%}', subset=['% Transit'])

In [95]:
df_network['data3'].value_counts()

3.0    1009321
5.0     433536
6.0     179530
2.0      76133
1.0      66442
4.0      58022
8.0        504
Name: data3, dtype: int64

## population & households

In [67]:
def count_by_county(output_path: str, summary_var: str, expfac_name: str, axis_name: str):
    df = summary_data.load_agg_data(output_path)

    tab = df.groupby(['source',summary_var])[expfac_name].sum().\
        unstack(summary_var).\
        rename_axis(columns={summary_var: axis_name})
    tab['Total'] = tab.sum(axis=1)

    display(tab.style.format('{:,.0f}'))

In [72]:
count_by_county('agg/dash/pptyp_county.csv','person_county','psexpfac','Population by county')

In [73]:
count_by_county('agg/dash/hh_geog.csv','hh_county','hhexpfac','Households by county')

## employment by work location

In [74]:
count_by_county('agg/dash/person_worker_type.csv','person_work_county','psexpfac','Employment by county')

## vehicle miles traveled

In [88]:

df = df_network.groupby(['source','county'])['VMT'].sum().\
        unstack('county').\
        rename_axis(columns={'county': 'VMT by county'})
tab = df[['King','Kitsap','Pierce','Snohomish','Outside Region']].copy()
tab['Total'] = tab.sum(axis=1)

display(tab.style.format('{:,.0f}'))

In [89]:
df_network['facility_type'].value_counts()

Arterial     1246873
Connector     433536
Highway       142575
Other            504
Name: facility_type, dtype: int64

In [94]:
df = df_network.groupby(['source','facility_type'])['VMT'].sum().\
        unstack('facility_type').\
        rename_axis(columns={'facility_type': 'VMT by facility type'}).\
        drop(columns='Other')
df['Total'] = df.sum(axis=1)

display(df.style.format('{:,.0f}'))

In [ ]:
df_tod = df.groupby(['period']).sum()[['arterial','connector','highway']]
df_tod['VMT'] = df_tod.sum(axis=1)
df_tod.loc['Total'] = df_tod.sum()
df_tod = df_tod[['VMT']]

# Save total VMT for later use
total_vmt = df_tod.loc['Total'].values[0]

df_fac = pd.DataFrame(df.sum()[['arterial','highway','connector']])
df_fac = df_fac.reset_index()
df_fac.columns = ['Facility Type', 'VMT']
df_fac.index = df_fac['Facility Type']
df_fac.drop('Facility Type', axis=1, inplace=True)
df_fac.loc['Total'] = df_fac.sum()

df_fac.to_csv(os.path.join(os.getcwd(), r'..\..\..\outputs\compare\topsheet','1_vmt_facility_type.csv'))
df_tod.to_csv(os.path.join(os.getcwd(), r'..\..\..\outputs\compare\topsheet','2_vmt_tod.csv'))
display(df_fac)
display(df_tod)