---
title: "Summary"
date: today
---

In [1]:
#| include: false

import os
import pandas as pd
import numpy as np
# import plotly.express as px
import toml
# import psrc_theme
from pathlib import Path
import summary_data

# to show plotly figures in quarto HTML file
# import plotly.io as pio
# pio.renderers.default = "plotly_mimetype+notebook_connected"
# pio.templates.default = "simple_white+psrc_color" # set plotly template

config = summary_data.CONFIG
all_runs = summary_data.ALL_RUNS

In [2]:
# all_runs

- run locations

In [3]:
pd.DataFrame.from_dict(all_runs, orient='index',
                       columns=['run location'])

                                                                                 run location
current run                                                                       ..\..\..\..
2050 update (lower WFH and no telecommute)  \\modelstation1\c$\workspace\sc_2050_base_year...
2050 update                                 \\modelstation1\c$\workspace\sc_2050_with_2023...
2050 RTP                                    L:\RTP_2022\final_runs\sc_rtp_2050_constrained...

## System Summary

In [4]:
# network summary: 'VMT','VHT','total_delay'
df_network = summary_data.load_agg_data('network/network_results.csv')

In [5]:
# Get light rail boardings
df_boardings = summary_data.load_agg_data('transit/daily_boardings_by_agency.csv')

In [9]:
network_summary = df_network.groupby('source')[['VMT','VHT','total_delay']].sum()
network_summary = network_summary.rename(columns={'total_delay': 'Delay'})
# transit boardings
df_boardings = summary_data.load_agg_data('transit/daily_boardings_by_agency.csv')
transit_ridership = df_boardings.groupby('source')['boardings'].sum()
#Light rail boardings
df_line_boardings = summary_data.load_agg_data('transit/transit_line_results.csv')
lr_boardings = df_line_boardings[df_line_boardings['mode']=='r']
lr_ridership = lr_boardings.groupby('source')['boardings'].sum()
# mode share
df_trip = summary_data.load_agg_data('agg/dash/mode_share_county.csv')
df = df_trip.groupby('source')['trexpfac'].sum() # total trips
transit_share = df_trip.loc[df_trip['mode']=="Transit"].groupby('source')['trexpfac'].sum()/df

# emission
df_emissions = summary_data.load_agg_data('emissions/emissions_summary.csv')
df = df_emissions.loc[(df_emissions['veh_type'].isin(['light','medium','heavy'])) & \
                      (df_emissions['pollutant_name']=="CO2 Equivalent")].copy()
CO2e = df.groupby('source')['total_daily_tons'].sum()

In [10]:
run_summary2 = pd.DataFrame({
    'Transit Boardings': transit_ridership,
    'Light Rail Boardings': lr_ridership,
    '% Transit': transit_share,
    'CO2e': CO2e
})

pd.concat([network_summary,run_summary2], axis=1).style.\
        format('{:,.0f}', subset=['VMT','VHT','Delay','Transit Boardings','Light Rail Boardings','CO2e']).\
        format('{:.1%}', subset=['% Transit'])

In [8]:
# # Populations near HCT and frequent transit
# df_time = pd.read_csv(r'../../../../outputs/agg/dash/trip_time_total.csv')
# df_ff = pd.read_csv(r'../../../../outputs/agg/dash/trip_sov_ff_time.csv')
# hh = pd.read_csv(r'../../../../outputs/agg/dash/hh_transit_dist.csv')
# person = pd.read_csv(r'../../../../outputs/agg/dash/person_transit_type.csv')

## Land Use

In [9]:
# Land Use Summary
df_parcels = summary_data.load_landuse('landuse/parcels_urbansim.txt')

In [10]:
# Summarize households and total jobs
df_pivot = pd.pivot_table(df_parcels, index='source', values=['hh_p','emptot_p'], aggfunc='sum')
df_pivot.rename(columns={'hh_p': 'Households', 'emptot_p':'Jobs'}, inplace=True)
# df_pivot = df_pivot.style.format('{:,.f}')
df_pivot[['Households','Jobs']].style.format('{:,.0f}')

In [11]:
# Summarize jobs by sector
# df.columns

#### Jobs by Sector

In [12]:
df_pivot = pd.pivot_table(df_parcels, index='source', 
                          values=['empedu_p', 'empfoo_p', 'empgov_p', 'empind_p', 'empmed_p',
                                'empofc_p', 'empoth_p', 'empret_p', 'emprsc_p', 'empsvc_p'], 
                           aggfunc='sum')
df_pivot.rename(columns={'empedu_p': 'Education', 'empfoo_p':'Food', 'empgov_p':'Government',
                         'empind_p':'Industrial', 'empmed_p':'Medical', 'empofc_p':'Office',
                         'empoth_p':'Other', 'empret_p':'Retail', 'emprsc_p':'Resource', 'empsvc_p':'Service'}, inplace=True)
df_pivot.style.format('{:,.0f}')

#### Student Enrollment

In [13]:
# Students by grade level
df_pivot = pd.pivot_table(df_parcels, index='source', 
                          values=['stugrd_p', 'stuhgh_p', 'stuuni_p'], 
                           aggfunc='sum')
df_pivot.rename(columns={'stugrd_p': 'Grade School', 'stuhgh_p':'High School', 'stuuni_p':'College'}, inplace=True)
df_pivot.style.format('{:,.0f}')

In [14]:
# Join parcel lookup data to parcel files to do some county and district summaries
# Load parcel geography lookup from soundcast db
import sqlite3
conn = sqlite3.connect(r'../../../../inputs/db/soundcast_inputs_2023.db')
df_geog_lookup = pd.read_sql_query("SELECT ParcelID, CountyName, district_name FROM parcel_2023_geography", conn)

In [15]:
# Merge lookup data to parcels
df_parcels = df_parcels.merge(df_geog_lookup, left_on='parcelid', right_on='ParcelID', how='left')

#### Total Employment by Distict

In [16]:
# Group total employment by county and source
df_pivot = pd.pivot_table(df_parcels, index='CountyName', columns='source', values='emptot_p', aggfunc='sum')
df_pivot.style.format('{:,.0f}')

#### Total Employment by Distict

In [17]:
# Group total employment by district and source
df_pivot = pd.pivot_table(df_parcels, index='district_name', columns='source', values='emptot_p', aggfunc='sum')
df_pivot.style.format('{:,.0f}')

## Synthetic Population

In [18]:
def count_by_county(output_path: str, summary_var: str, expfac_name: str, axis_name: str):
    df = summary_data.load_agg_data(output_path)

    tab = df.groupby(['source',summary_var])[expfac_name].sum().\
        unstack(summary_var).\
        rename_axis(columns={summary_var: axis_name})
    tab['Total'] = tab.sum(axis=1)

    display(tab.style.format('{:,.0f}'))

In [19]:
count_by_county('agg/dash/pptyp_county.csv','person_county','psexpfac','Population by county')

In [20]:
count_by_county('agg/dash/hh_geog.csv','hh_county','hhexpfac','Households by county')

## employment by work location

In [21]:
count_by_county('agg/dash/person_worker_type.csv','person_work_county','psexpfac','Employment by county')

## Parking Costs

In [22]:
# Daily parking cost totals (ppricdyp)
pd.pivot_table(df_parcels, index='source', values='ppricdyp', aggfunc='sum').style.format('{:,.0f}')

In [23]:
# # Parking costs by district
# pd.pivot_table(df_parcels, index='district_name', columns='source', values='pprichrp', aggfunc='sum').style.format('{:,.0f}')

In [24]:
# df_buffered.columns

In [25]:
# # Check buffered parcels distance to light rail
# df_buffered = summary_data.load_landuse('landuse/buffered_parcels.txt')

# # Merge geography to file
# df_buffered = df_buffered.merge(df_geog_lookup, left_on='parcelid', right_on='ParcelID', how='left')

In [26]:

# df_buffered.groupby(['source','district_name'])['dist_lbus'].describe()
# # df_buffered.columns