---
title: "Vehicle Miles Traveled (VMT)"
date: today
---

In [1]:
import os
import pandas as pd
import numpy as np
# import plotly.express as px
import toml
# import psrc_theme
from pathlib import Path
import util

# to show plotly figures in quarto HTML file
# import plotly.io as pio
# pio.renderers.default = "plotly_mimetype+notebook_connected"
# pio.templates.default = "simple_white+psrc_color" # set plotly template

# read all summary data files
# get shared data: run topsheet.ipynb first
%store -r summary_data

config = summary_data.config.copy()
df_network = summary_data.network_summary.copy()

In [2]:
def vmt_segment(group_var: str, group_title: str, order: list) -> pd.DataFrame:
    df = df_network[[group_var,'VMT']].groupby(group_var).sum()
    df.loc['Total',:] = df.sum()

    df.index.names = [group_title]
    df = df.reindex(index=order).reset_index()
    df = df.style.format({'VMT':'{:,.0f}'}).hide(axis="index")

    return df

## County

In [3]:
vmt_segment('county','County',['King','Kitsap','Pierce','Snohomish','Outside Region','Total'])

## Facility Type

In [4]:
vmt_segment('facility_type','Facility Type',['Arterial','Highway','Connector','Other','Total'])

## Period

In [5]:
vmt_segment('tod_period','Period',['AM','Mid-Day','PM','Evening','Night','Total'])