---
title: "Vehicle Miles Traveled (VMT)"
date: today
---

In [1]:
#| include: false

import os
import pandas as pd
import numpy as np
# import plotly.express as px
import toml
# import psrc_theme
from pathlib import Path
import summary_data

# to show plotly figures in quarto HTML file
# import plotly.io as pio
# pio.renderers.default = "plotly_mimetype+notebook_connected"
# pio.templates.default = "simple_white+psrc_color" # set plotly template

config = summary_data.CONFIG
all_runs = summary_data.ALL_RUNS

In [2]:
# network summary: 'VMT','VHT','total_delay'
df_network = summary_data.load_agg_data('network/network_results.csv')

## County

In [3]:

df = df_network.groupby(['source','county'])['VMT'].sum().\
        unstack('county').\
        rename_axis(columns={'county': 'VMT by county'})
tab = df[['King','Kitsap','Pierce','Snohomish','Outside Region']].copy()
tab['Total'] = tab.sum(axis=1)

display(tab.style.format('{:,.0f}'))

## Facility Type

In [4]:
df = df_network.groupby(['source','facility_type'])['VMT'].sum().\
        unstack('facility_type').\
        rename_axis(columns={'facility_type': 'VMT by facility type'}).\
        drop(columns='Other')
df['Total'] = df.sum(axis=1)

display(df.style.format('{:,.0f}'))

## Period

In [5]:
df = df_network.groupby(['source','tod_period'])['VMT'].sum().\
        unstack('tod_period').\
        rename_axis(columns={'tod_period': 'VMT by time of day'})
df['Total'] = df.sum(axis=1)

display(df.style.format('{:,.0f}'))